#tableToSort{width: 100%;
	thead{
		.header{position: static;background-color: #5b7381;width: auto;color: #bdc7cd;padding: 20px 0;text-align: center;font-family: 'CoreSans'; font-size: 14px; font-weight: normal;background-image: url(../images/desc.png); cursor: pointer; font-weight: bold; background-repeat: no-repeat; background-position: 95% center; 

			
		}
		th.headerSortDown {background-image: url(../images/desc.png); }
		th.headerSortUp { background-image: url(../images/asc.png); }

	}	
	tbody{
		tr{
			&:nth-child(odd){
				td{border-right: 1px solid  #f1f2f3;}
			}
			&:nth-child(even){
				td{border-right: 1px solid  #f4f5f5;}
			}
			td{text-align: center; color: #bcc5cb; padding: 10px 0; width: 20%;
				
				&:last-child{border-right: none;}
			}
		}
	}
}
.common-table{width: 100%;
			thead{
				th{position: static;background-color: #5b7381;width: auto;color: #bdc7cd;padding: 20px 0;text-align: center;font-family: 'CoreSans'; font-size: 14px; font-weight: normal; cursor: pointer; font-weight: bold; background-repeat: no-repeat; background-position: 95% center; }				

			}	
			tbody{
				tr{					
					td{text-align: center; color: #5b7381; padding: 10px 0; width: 20%;	font-size: 16px;	
						&:last-child{border-right: none;
							a{border: 1px solid #ebebeb; padding: 5px 10px; color: #c3cbd1; text-decoration: none;
							 &:first-child{margin-right: 10px;}
							img{margin-right: 5px;
								
							}
						}

						}
						&:first-child{
							a{border: 1px solid #ebebeb; padding: 5px 15px; text-decoration: none;}
							
						}
						&:nth-child(3),
						&:nth-child(4){text-decoration: underline;}
					}
				}
			}
		}
.section-heading{ width: 100%;  display: flex; padding: 0 0 30px 0;  
			img{}
			h3{color: #f97c39; font-size: 28px; font-family: 'CoreSans' ; font-weight: 300; margin: 0; vertical-align: middle; line-height: 1.1; padding: 0 0 0 10px; 
			}		
}		
.pager{ display: flex; justify-content: flex-end; padding: 10px 10px 10px 0px; align-items: center;
		.text-wrapper{ font-family: 'CoreSans'; font-size: 16px; color: #b2bec4; display: inline-block;padding: 0 10px;
			p{margin: 0;}
		}
		form{ display: inline-block;
			label{background: #eaeced; padding: 0 10px;margin-right: 5px; cursor: pointer; 
			}
		}
	}
.waiting{
	.mbox{display: flex; flex-wrap: wrap; justify-content: flex-end; 
		.search-field{ padding: 15px 10px 0 0;
		}
		 .waiting-heading{flex: 1; display: flex; padding: 0 0 10px 0;
			img{}
			h3{
				color: #f97c39; font-size: 28px; font-family: 'CoreSans' ; font-weight: 300; margin: 0; vertical-align: middle; line-height: 1.5; padding: 0 0 0 10px; }
		}
		.pagination{ flex: 1;
			
		}
	}
}

.balance{
	.mbox{display: flex; flex-wrap: wrap; justify-content: flex-end; 
		.search-field{ padding: 15px 10px 0 0;
		}
		.heading{flex: 1; display: flex; padding: 0 0 10px 0;
			img{}
			h3{color: #f97c39; font-size: 28px; font-family: 'CoreSans' ; font-weight: 300; margin: 0; vertical-align: middle; line-height: 2; padding: 0 0 0 10px; }
		}
		.pagination{ flex: 1; }
	}
}

.offer-page{
	.mbox{ width: 100%; max-width: 1050px; display: flex; flex-wrap: wrap; justify-content: space-between;
		.heading{ width: 100%;  display: flex; padding: 0 0 30px 0;  
			img{}
			h3{color: #f97c39; font-size: 28px; font-family: 'CoreSans' ; font-weight: 300; margin: 0; vertical-align: middle; line-height: 1.5; padding: 0 0 0 10px; }
		}

		.left-content{width: 48%; 
			.heading-part{display: flex; width: 100%;
				.image-wrapper{width:calc(100% / 3); background-color: #EAECED;
					img{ }
				}
				.offer-name{width:calc(100% / 3); background-color: #EAECED; font-size: 18px;  color: #5b7280; font-weight: 500; line-height: 4;
				}
				.offer-price{width:calc(100% / 3); background: #d2d9dc; font-size: 28px;  color: #5b7280;line-height: 2.5;
				}
				div{text-align: center;  padding: 14px 0;}
			}
			.main-content{ padding: 20px 20px 0 25px; line-height: 1.3; font-size: 18px;
				
			}
		}
		.right-content{width: 48%;
			.heading-part{
				.button-orange{height: 100px; font-weight: bold; font-size: 28px;}
			}
			.main-content{width: 100%; display: flex; flex-wrap: wrap; padding: 20px 0 0 0 ;
				.row{ width: 100%; 
					.row-heading{background: #d2d9dc; padding: 0 0 0 20px;
						h5{font-weight: 500; margin: 0; line-height: 50px; font-size: 18px;}
					}
					.row-content{padding-bottom: 20px;
						.item{display: flex;padding: 20px;
							.left-side{width: 50%; 
								
							}
							.right-side{width: 50%; text-align: right;
								
							}
						}
					}
				}
			}
		}
	}
}

.my-streams{
	.mbox{
		.my-streams-heading{ 
			span{font-size: 16px; color: #d5dcde;

				
			}		
		}
		.my-streams-table{width: 100%;
			thead{
				th{position: static;background-color: #5b7381;width: auto;color: #bdc7cd;padding: 20px 0;text-align: center;font-family: 'CoreSans'; font-size: 14px; font-weight: normal; cursor: pointer; font-weight: bold; background-repeat: no-repeat; background-position: 95% center; }				

			}	
			tbody{
				tr{					
					td{text-align: center; color: #5b7381; padding: 10px 0; width: 20%;	font-size: 16px;	
						&:last-child{border-right: none;
							a{border: 1px solid #ebebeb; padding: 5px 10px; color: #c3cbd1; text-decoration: none;
							 &:first-child{margin-right: 10px;}
							img{margin-right: 5px;
								
							}
						}

						}
						&:first-child{
							a{border: 1px solid #ebebeb; padding: 5px 15px; text-decoration: none;}
							
						}
						&:nth-child(3),
						&:nth-child(4){text-decoration: underline;}
					}
				}
			}
		}
	}
}

.payments{
	.mbox{		
		.form-wrapper{
			form{width: 100%; max-width: 515px; background: #eaeced; 
				label{border-bottom: 1px solid #dde1e3; padding: 30px 30px 10px 20px; display: flex;
						flex-wrap: wrap;
					&:nth-child(2){
						img{
							margin-right: 10px;
						}
						p{margin-top: -15px;}
					}
					img{margin-right: 20px;
						}
					input{ width: 390px; height: 40px; padding-left: 20px; border: 1px solid #e0e5e7;
						&.error{ border: 1px solid red;							
						}
						&::-webkit-input-placeholder {color:#ced5d9;}
						&::-moz-placeholder          {color:#ced5d9;}/* Firefox 19+ */
						&:-moz-placeholder           {color:#ced5d9;}/* Firefox 18- */
						&:-ms-input-placeholder      {color:#ced5d9;}
					}
					p{margin: 0; font-size: 12px; color: #bdc1c4;padding-left: 80px; }
				}
				.buton-wrapper{ width: 100%; padding: 20px 0;
					button{border: none; margin: 0 auto; min-width: calc(100% - 30px); padding: 20px 0;	 min-height: 70px;
						span{min-height: 20px; font-size: 32px;}
					 }
				}
			}
		}	
		.paiment-table{margin-top: 60px;
			thead{
				th{ font-size: 16px; color: #fff; font-weight: 400;}				

			}	
			tbody{
				tr{					
					td{text-decoration: none; color: #8395a0;
						
					}
				}
			}
		}
	}
}

.tikets{
	.mbox{
		.open-tiket,.clothe-tiket{display: inline-block; background:#eaeced; width: 300px; text-align: center;padding: 17px 0;			
		}
		.button-orange{width: 180px; height: 50px; font-size: 18px; display: inline-block; margin: 0 0 0 auto;
			span{vertical-align: middle; line-height: 50px;}
		}
	}
}
