// left-menu
.left-menu{width: 250px;position: fixed;top: 0;left: 0;bottom: 0;background-color: #e8eaeb;z-index: 1001;transition:width ease-out .4s;overflow: hidden;
    .left-menu-wrap{position: absolute;top: 0;bottom: 0;left: 0;right: -17px;overflow-y: scroll;overflow-x: hidden;}

    &:after{position: absolute;content: '';left: 0;top: 0;height: 100%;background-color: #304552;width: 56px;z-index: 1;}
    .left-menu-logo{padding-bottom: 12px;overflow: hidden;position: relative;z-index: 3;
        &:after{z-index: 1;width: calc(100% + 20px);background-color: #1f2c35;position: absolute;bottom: 6.4px;left: 0;height: 20px;content: '';transform: rotate(1.5deg);}
        .left-menu-logo-wrap{height: 177px;background-color: #1f2c35;width: 100%;display: flex;align-items: center;justify-content: center;flex-wrap: wrap;position: relative;z-index: 2;
            img{max-height:100px;}
        }
    }
    .left-menu-link{position: relative;
        ul{list-style-type: none;margin: 0;padding: 0;position: relative;z-index: 2;}
        li{
            // &:first-child{
            //     a{height: 68px;}
            // }
            &:last-child{
                .item-icon,.item-text{border-bottom: none;}
            }
            &:hover,&.active{
                .item-icon{
                    &:after{left: 0;}
                    .icon-img{
                        &.icon-1{background-image: url(../images/left-menu-img-1-active.png);}
                        &.icon-2{background-image: url(../images/left-menu-img-2-active.png);}
                        &.icon-3{background-image: url(../images/left-menu-img-3-active.png);}
                        &.icon-4{background-image: url(../images/left-menu-img-4-active.png);}
                        &.icon-5{background-image: url(../images/left-menu-img-5-active.png);}
                        &.icon-6{background-image: url(../images/left-menu-img-6-active.png);}
                        &.icon-7{background-image: url(../images/left-menu-img-7-active.png);}
                        &.icon-8{background-image: url(../images/left-menu-img-8-active.png);}
                        &.icon-9{background-image: url(../images/left-menu-img-9-active.png);}
                        &.icon-10{background-image: url(../images/left-menu-img-10-active.png);}
                        &.icon-11{background-image: url(../images/left-menu-img-11-active.png);}
                        &.icon-12{background-image: url(../images/left-menu-img-12-active.png);}
                        &.icon-13{background-image: url(../images/left-menu-img-13-active.png);}
                        &.icon-15{background-image: url(../images/left-menu-img-15-active.png);}
                    }
                }
                .item-text{text-shadow: 0px 0px 1px #314653;}
            }
            &.active{
                .item-text{
                    &:after{content: '';border-left: 9px solid #e8eaeb;border-top: 8px solid transparent;border-bottom: 8px solid transparent;position: absolute;left: 100%;top: 50%;transform: translateY(-50%);z-index: 1;}
                }
            }
            &.mobile-show{display: none;}
            a{display: flex;height: 45px;align-items: center;text-decoration: none;font-size: 18px;color: #314653;font-weight: 400;}

            .item-icon{width: 56px;display: flex;align-items: center;justify-content: center;background-color: #304552;height: 100%;border-bottom: 1px solid #2e424f;position: relative;z-index: 3;
                &:after{max-height: 56px;background-color: #f8691c;height: 100%;width: 3px;content: '';position: absolute;left: -3px;bottom: 0;transition:left ease-out .2s;}
                .icon-img{display: flex;width: 100%;height: 100%;background-position: center center;background-repeat: no-repeat;background-color: transparent;transition:background-image ease-out .1s;
                    &.icon-1{background-image: url(../images/left-menu-img-1.png);}
                    &.icon-2{background-image: url(../images/left-menu-img-2.png);}
                    &.icon-3{background-image: url(../images/left-menu-img-3.png);}
                    &.icon-4{background-image: url(../images/left-menu-img-4.png);}
                    &.icon-5{background-image: url(../images/left-menu-img-5.png);}
                    &.icon-6{background-image: url(../images/left-menu-img-6.png);}
                    &.icon-7{background-image: url(../images/left-menu-img-7.png);}
                    &.icon-8{background-image: url(../images/left-menu-img-8.png);}
                    &.icon-9{background-image: url(../images/left-menu-img-9.png);}
                    &.icon-10{background-image: url(../images/left-menu-img-10.png);}
                    &.icon-11{background-image: url(../images/left-menu-img-11.png);}
                    &.icon-12{background-image: url(../images/left-menu-img-12.png);}
                    &.icon-13{background-image: url(../images/left-menu-img-13.png);}

                    &.icon-15{background-image: url(../images/left-menu-img-15.png);}
                }
            }
            .item-text{border-bottom: 1px solid #e0e4e6;width: calc(100% - 56px);height: 100%;display: flex;align-items: center;position: relative;transition:width ease-out .4s;z-index: 2;
                span{white-space: nowrap;padding-left: 17px;padding-right: 5px;padding-top: 5px;padding-bottom: 5px;position: relative;z-index: 3;transition:all ease-out .1s;left: 0;
                    i{position: absolute;font-size: 11px;color: #d2d9dc;background-color: #304552;width: 20px;height: 20px;border-radius: 50%;overflow: hidden;display: flex;align-items: center;justify-content: center;top: -1px;right: -23px;font-style: normal;}
                }
            }
            .item-icon-arrow{width: 56px;height: 100%;position: relative;
                span{width: 12px;height: 12px;border-left: 1px solid rgba(0, 0, 0, 0.22);border-top: 1px solid rgba(0, 0, 0, 0.22);position: absolute;top: 50%;transform: translateY(-82%) skew(-4deg, 4deg) rotate(-49deg);left: 16px;transform-origin: 100% 50%;background-color: transparent;transition:all ease .2s;}
                span:nth-child(2){left: 21px;}
                span:nth-child(3){left: 26px;}
            }
            .item-text-hide{color: #314552;opacity: 0.5;height: 100%;display: flex;align-items: center;width: calc(100% - 56px);transition:width ease-out .4s;visibility: visible;overflow: hidden;
                span{white-space: nowrap;padding-left: 17px;z-index: 3;transition:left ease-out .2s;left: 0;position: relative;}
            }
        }
    }
    &.hide{width: 56px;
        .left-menu-link{
            li{
                .item-text,.item-text-hide{width: 0;visibility: hidden;
                    span{left: -200%;overflow: hidden;}
                }
            }
            .item-icon-arrow{width: 56px;height: 100%;position: relative;
                span{border-left: none;border-top: none;position: absolute;top: 50%;transform: translateY(-82%) skew(-4deg, 4deg) rotate(-49deg);left: 11px;border-right: 1px solid rgba(0, 0, 0, 0.22);border-bottom: 1px solid rgba(0, 0, 0, 0.22);}
                span:nth-child(2){left: 16px;}
                span:nth-child(3){left: 21px;}
            }
        }
    }
}
.left-menu-mini-arrow{position: fixed;z-index: 1000;border-left: 9px solid #e8eaeb;border-top: 8px solid transparent;border-bottom: 8px solid transparent;left: 150px;transition:all ease .1s;}

// header
.header{position: fixed;top: 0;left: 0;width: 100%;background-color: #eaeced;z-index: 1000;
    &.hide-menu{
        .header-wrap{margin-left:56px;}
    }
    .header-wrap{height: 50px;display: flex;margin-left: 250px;transition:margin ease-out .4s;}
    .header-items{width: calc(100% - 145px);display: flex;
        .item{width: 29%;display: flex;align-items: center;justify-content: center;border-right: 1px solid #dde1e3;padding-left: 5px;padding-right: 5px;
            span:not([class]){margin-right: 8px;}
            &.item-1{width: 42%;justify-content: space-around;
                span:not([class]){width: 28px;height: 28px;display: inline-block;overflow: hidden;position: relative;margin-right: 8px;
                    img{border-radius: 50%;}
                }
                .icon-settings{width: 24px;height: 23px;background:transparent url('../images/header-icon-settings.png') center center no-repeat;display: inline-block;margin-left: 20px;}
                .hide-menu{border:none;height: 25px;width: 35px;background-color: transparent;padding: 0;border-top: 3px solid #f8681b;border-bottom: 3px solid #f8681b;position: relative;cursor: pointer;
                    &:after{content: '';width: 100%;height: 3px;background-color: #f8681b;position: absolute;top: 8px;left: 0;}
                }
            }
            &:last-child{border-right: none;}
            a{display: flex;align-items: center;text-decoration: none;font-size: 18px;color: #5b7381;font-weight: 500;
                b{font-weight: 500;}
            }
        }
    }
    .header-logout{background-color: #d2d9dc;width: 145px;display: flex;align-items: stretch;justify-content: center;
        a{width: 100%;display: flex;align-items: center;justify-content: center;font-weight: 400;color: #5b7381;font-size: 18px;text-decoration: none;
            span{margin-right: 5px;}
        }
    }
}

// title
.title{
    &>span.button-menu{display: none;}
    h1,h2,h3{display: flex;align-items: center;margin:0;
        img{margin-right: 17px;}
        &>span{
            b{color: #f8681b;font-size: 28px;font-weight: 300;display: block;}
            span{font-size: 16px;color: #d2d9dc;font-weight: 400;}
        }
    }
}
// index page panel top
.panel-top{
    p{margin: 0;color: #5b7381;font-size: 18px;}
    .panel-top-wrap{display: flex;position: relative;z-index: 3;}
    .panel-top-item{width: 100%;max-width: 610px;padding-right: 100px;
        &:last-child{padding-right: 0;}
        .panel-top-stat{min-height: 285px;display: flex;flex-direction: column;justify-content: space-between;position: relative;z-index: 3;max-width: 510px;
            &:after{position: absolute;height: 100%;width: 100%;content: '';background-color: #fcfcfc;z-index: 2;top: 8px;right: -8px;}
            .row{display: flex;padding: 7px 0px;align-items: center;background-color: #eaeced;border-bottom: 1px solid #dde1e3;flex:1;position: relative;z-index: 3;
                &:last-child{border-bottom: none;}
                &.big{background-color: #d2d9dc;font-size: 20px;}
                b{font-size: 24px;color: #5b7381;font-weight: 500;}
                .item-1{width: 80px;display: flex;align-items: center;justify-content: center;}
            }
            &.panel-top-big{
                .row{justify-content: space-between;padding-right: 30px;
                    .item-2{flex:1;}
                }
            }
            &.panel-top-small{max-width: 420px;}
        }
        .title{margin-bottom: 33px;}
    }

    .panel-top-img{position: absolute;right: 0;top: 80px;transition:all ease .2s;
        .panel-top-img-person-comment{position: absolute;left: -218px;top: 39%;}
        .panel-top-img-person-comment-text{position: absolute;top: 50%;left: 45%;transform: translate(-50%, -50%);width: 80%;text-align: center;color: #5b7381;font-size: 20px;line-height: 1.2;}
    }
}
.panel-bottom{padding-top: 75px;margin-bottom: 25px;
    .title{margin-bottom: 25px;}
}

// news
.news{padding-right: 145px;
    p{margin:0;}
    .news-rows{padding-top: 33px;
        .row{margin-bottom: 48px;
            &:last-child{margin-bottom: 0;}
            .row-top{background-color: #d2d9dc;height: 50px;display: flex;
                .left{width: 56px;display: flex;align-items: center;justify-content: center;padding: 3px;flex-wrap: wrap;align-content: center;
                    p{color: #91a5ad;font-size: 14px;}
                    span{font-weight: 500;color: #91a5ad;font-size: 11px;}
                }
                .right{width: calc(100% - 56px);align-items: center;display: flex;padding-left: 24px;padding-top: 3px;padding-bottom: 3px;padding-right: 10px;}
            }
            .row-bottom{min-height: 78px;padding: 20px;background-color: #fafafa;font-size: 16px;color: #405562;}
        }
    }
    .news_bottom{display: flex;align-items: center;justify-content: space-between;padding-top: 75px;margin-bottom: 50px;
        .news_archive{
            img{margin-right: 5px;}
            a{text-decoration: none;display: flex;align-items: center;font-size: 16px;color: #d2d9dc;}
        }
    }
}

// pagination
.pagination{
    ul{padding: 0;margin: 0;list-style-type: none;display: flex;}
    li{margin:0 6px;
        &.active,&:hover{
            span{background-color: #ffffff;border-color: #e0e5e7;}
        }
    }
    a{text-decoration: none;}
    span:not([class]){height: 34px;width: 23px;background-color: #fafafa;border:1px solid transparent;display: flex;align-items: center;justify-content: center;font-size: 16px;color: #d2d9dc;}
    .pagination-button{position: relative;height: 34px;width: 23px;display: flex;
        &:after{position: absolute;content: '';width: 7px;height: 7px;position: absolute;transform: translate(-50%,-50%) rotate(45deg);top: 50%;left: 45%;}
        &.prev:after{border-bottom: 1px solid #d2d9dc;border-left: 1px solid #d2d9dc;}
        &.next:after{transform: translate(-50%,-50%) rotate(45deg);border-top: 1px solid #d2d9dc;border-right: 1px solid #d2d9dc;}
    }
}

// serarch field
.search-field{position: relative;
    form{display: flex;}
    .form_row{
        &.error{
            input{border-color: red;
                &::-webkit-input-placeholder {color:red;}
                &:-moz-placeholder {color:red;opacity:1;}
                &::-moz-placeholder {color:red;opacity:1;}
                &:-ms-input-placeholder {color:red;}
            }
        }
        input{width: 183px;height: 32px;border:1px solid #e0e5e7;padding: 3px 10px 3px 15px;
            &::-webkit-input-placeholder {color:#d2d9dc;}
            &:-moz-placeholder {color:#d2d9dc;opacity:1;}
            &::-moz-placeholder {color:#d2d9dc;opacity:1;}
            &:-ms-input-placeholder {color:#d2d9dc;}
        }
    }
    .search-field-button{
        button{width: 30px;height: 32px;background-color: #eaeced;background:#eaeced url('../images/search-field-button.png') 50% 50% no-repeat;border:none;
            &:active{background-position: 50%  60%;}
        }
    }
}

// me doments
.my-domens{
    p{color: #a8b3b8;font-size: 16px;max-width: 1375px;margin: 0;}
    .my-domens-form{padding-top: 34px;
        form{display: flex;margin-bottom: 25px;}
        .form_row{
            &.error{
                input{border-color: red;
                    &::-webkit-input-placeholder {color:red;}
                    &:-moz-placeholder {color:red;opacity:1;}
                    &::-moz-placeholder {color:red;opacity:1;}
                    &:-ms-input-placeholder {color:red;}
                }
            }
            input{width: 591px;height: 49px;border:1px solid #e0e5e7;padding: 3px 10px 3px 15px;
                &::-webkit-input-placeholder {color:#d2d9dc;}
                &:-moz-placeholder {color:#d2d9dc;opacity:1;}
                &::-moz-placeholder {color:#d2d9dc;opacity:1;}
                &:-ms-input-placeholder {color:#d2d9dc;}
            }
        }
        .my-domens-button{
            button{width: 161px;height: 49px;border:none;color: white;font-weight: 500;font-size: 18px;
                &:active{background-position: 50%  60%;}
        }
    }
    }
}

// buttons
.button-orange{font-weight: 500;color: white;font-size: 18px;color: white;text-decoration: none;background-color: #ef7e2b;display: flex;justify-content: center;align-items: center;height: 49px;transition:all ease-out .1s;cursor: pointer;padding: 0 25px;
    &:hover{background-color: #ff8c37;}
    &:active{background-color: #d6762f;}
}
.button-grey{font-weight: 500;color: #5b7381;font-size: 16px;text-decoration: none;background-color: #d2d9dc;display: flex;justify-content: center;align-items: center;height: 53px;transition:all ease-out .1s;cursor: pointer;padding: 0 25px;max-width: 175px;width: 100%;border:none;
    &:hover{background-color: #e0e7ea;}
    &:active{background-color: #bac2c5;}
}

// tiket-talk
.tiket-talk{
    .title{display: flex;justify-content: space-between;align-items: center;
        .button-orange{max-width: 168px;padding: 0 22px;text-align: center;}
    }

    .tiket-chat{padding-top: 36px;padding-right: 168px;}
    .tiket-chat-row{display: flex;align-items: center;margin-bottom: 11px;position: relative;
        .tiket-chat-img{height: 46px;width: 46px;position: relative;
            img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
        }
        .tiket-chat-text{margin-left: 15px;max-width: 600px;margin-right: 100px;
            .tiket-chat-text-title{margin-left: 29px;color: #405562;font-size: 14px;opacity: .32;line-height: 1.3;font-weight: 600;}
            .tiket-chat-text-description{padding: 12px 28px;background-color: #fcfcfc;font-size: 14px;color: rgb(64, 85, 98);line-height: 1.357;
                p{margin:0;}
            }
        }
        .tiket-chat-date{font-size: 12px;color: #d0d7da;position: absolute;right: 0;top: 50%;transform: translateY(-50%);padding: 0 5px;max-width: 80px;}
        &.user{flex-direction: row-reverse;padding-right: 87px;
            .tiket-chat-text{margin-right: 0;margin-left: 100px;}
            .tiket-chat-text-title{margin-left: 0;text-align: right;}
            .tiket-chat-text-description{background-color: #f4f5f6;}
        }
    }
    .tiket-chat-form{padding-left: 61px;padding-right: 87px;padding-top: 41px;
        form{display: flex;flex-wrap: wrap;}
        .form_row{width: 100%;
            &.error{
                textarea{border-color: red;}
            }
            textarea{width: 100%;height: 145px;padding: 20px;border:1px solid #e0e5e7;resize:none;}
            &.button-submit{flex-direction: row-reverse;display: flex;margin-top: 15px;}
        }
    }
}

// ticket-create
.ticket-create{
    .ticket-create-form{margin-top: 35px;max-width: 510px;width: 100%;
        .ticket-create-form-wrap{}
        .form_row{padding: 25px 25px 25px 18px;display: flex;align-items: center;background-color: #eaeced;
            &:not(:first-child){border-top: 1px solid #dde1e3;}
            .ticket-create-text{display: flex;align-items: center;color: #5b7280;font-size: 18px;width: 125px;
                span{margin-left: 5px;margin-right: 25px;}
            }
            .ticket-create-input{flex:1;width: 100%;
                input,textarea{width: 100%;background-color: #fff;border:1px solid #dde1e3;height: 48px;padding: 5px 15px;
                    &::-webkit-input-placeholder {color:#eaeced;}
                    &:-moz-placeholder {color:#eaeced;opacity:1;}
                    &::-moz-placeholder {color:#eaeced;opacity:1;}
                    &:-ms-input-placeholder {color:#eaeced;}

                    &.error{border-color: red;}
                }
                textarea{height: 140px;resize:none;padding: 15px;}
            }
        }
    }
    .ticket_submit{display: flex;justify-content: space-between;align-items: center;padding-top: 24px;
        a,button{max-width: 100%;width: 47%;border:none;height: 71px;font-size: 18px;font-weight: 500;}
    }
}