/* table-to-sort */

	#tableToSort{width: 100%;
		thead{
			.header{position: static;background-color: #5b7381;width: auto;color: #bdc7cd;padding: 20px 0;text-align: center;font-family: 'CoreSans'; font-size: 14px; font-weight: normal;background-image: url(../images/desc.png); cursor: pointer; font-weight: bold; background-repeat: no-repeat; background-position: 95% center;


			}
			th.headerSortDown {background-image: url(../images/desc.png); }
			th.headerSortUp { background-image: url(../images/asc.png); }

		}
		tbody{
			tr{
				&:nth-child(odd){
					td{border-right: 1px solid  #f1f2f3;}
				}
				&:nth-child(even){
					td{border-right: 1px solid  #f4f5f5;}
				}
				td{text-align: center; color: #bcc5cb; padding: 10px 0; width: 20%;

					&:last-child{border-right: none;}
				}
			}
		}
	}

/* /table-to-sort */

/* common-table */

	.common-table{width: 100%;
		thead{
			th{position: static;background-color: #5b7381;width: auto;color: #bdc7cd;padding: 20px 0;text-align: center;font-family: 'CoreSans'; font-size: 14px; font-weight: normal; cursor: pointer; font-weight: bold; background-repeat: no-repeat; background-position: 95% center; }

		}
		tbody{
			tr{
				td{text-align: center; color: #5b7381; padding: 10px 0; width: 20%;	font-size: 16px;
					&:last-child{border-right: none;
						a{border: 1px solid #ebebeb; padding: 5px 10px; color: #c3cbd1; text-decoration: none;
							&:first-child{margin-right: 10px;}
						img{margin-right: 5px;

						}
					}

					}
					&:first-child{
						a{border: 1px solid #ebebeb; padding: 5px 15px; text-decoration: none;}

					}
					&:nth-child(3),
					&:nth-child(4){text-decoration: underline;}
				}
			}
		}
	}

/* /common-table */

/* section-heading */

	.section-heading{ width: 100%;  display: flex; padding: 0 0 30px 0;
				img{}
				h3{color: #f97c39; font-size: 28px; font-family: 'CoreSans' ; font-weight: 300; margin: 0; vertical-align: middle; line-height: 1.1; padding: 0 0 0 10px;
				}
	}

/* /section-heading */

/* pager */

	.pager{ display: flex; justify-content: flex-end; padding: 10px 10px 10px 0px; align-items: center;
		.text-wrapper{ font-family: 'CoreSans'; font-size: 16px; color: #b2bec4; display: inline-block;padding: 0 10px;
			p{margin: 0;}
		}
		form{ display: inline-block;
			label{background: #eaeced; padding: 0 10px;margin-right: 5px; cursor: pointer;
			}
		}
	}

/* /pager */

/* waiting */

	.waiting{
		.mbox{display: flex; flex-wrap: wrap; justify-content: flex-end;
			.search-field{ padding: 15px 10px 0 0;
			}
			.waiting-heading{flex: 1; display: flex; padding: 0 0 10px 0;
				img{}
				h3{
					color: #f97c39; font-size: 28px; font-family: 'CoreSans' ; font-weight: 300; margin: 0; vertical-align: middle; line-height: 1.5; padding: 0 0 0 10px; }
			}
			.pagination{ flex: 1;

			}
		}
	}

/* /waiting  */

/* balance */

	.balance{

		.balance-top{display: flex;justify-content: space-between;align-items:center;margin-bottom: 20px;
			.balance-right{display: flex;justify-content: flex-end;align-items: center;}
		}

		.balance-bottom{display: flex;justify-content: space-between;align-items: center;padding-top: 20px;}

		.mbox{
			
			.heading{flex: 1; display: flex; padding: 0 0 10px 0;
				h3{color: #f97c39; font-size: 28px; font-family: 'CoreSans' ; font-weight: 300; margin: 0; vertical-align: middle; line-height: 2; padding: 0 0 0 10px; }
			}
			.pagination{ flex: 1; }
		}
	}

/* /balance */

/* offer-page */

	.offer-page{
		.mbox{ width: 100%; max-width: 1050px; display: flex; flex-wrap: wrap; justify-content: space-between;
		
			.title{margin-bottom:20px;width:100%;}

			.offer-page-wrap{display:flex;justify-content: space-between;}

			.left-content{width: 48%;
				.heading-part{display: flex; width: 100%;
					.image-wrapper{width:calc(100% / 3); background-color: #EAECED;}
					.offer-name{width:calc(100% / 3); background-color: #EAECED; font-size: 18px;  color: #5b7280; font-weight: 500; line-height: 4;}
					.offer-price{width:calc(100% / 3); background: #d2d9dc; font-size: 28px;  color: #5b7280;line-height: 2.5;}
					div{text-align: center;  padding: 14px 0;}
				}
				.main-content{ padding: 20px 20px 0 25px; line-height: 1.3; font-size: 18px;}
			}
			.right-content{width: 48%;
				.heading-part{
					.button-orange{height: 100px; font-weight: bold; font-size: 28px;}
				}
				.main-content{width: 100%; display: flex; flex-wrap: wrap; padding: 20px 0 0 0 ;
					.row{ width: 100%;
						.row-heading{background: #d2d9dc; padding: 0 0 0 20px;
							h5{font-weight: 500; margin: 0; line-height: 50px; font-size: 18px;}
						}
						.row-content{padding-bottom: 20px;
							.item{display: flex;padding: 20px;
								.left-side{width: 50%;}
								.right-side{width: 50%; text-align: right;}
							}
						}
					}
				}
			}
		}
	}

/* /offer-page */

/* my-streams */

	.my-streams{
		.mbox{
			.my-streams-heading{
				span{font-size: 16px; color: #d5dcde;


				}
			}
			.title{margin-bottom: 25px;}
			.my-streams-table{width: 100%;
				thead{
					th{position: static;background-color: #5b7381;width: auto;color: #bdc7cd;padding: 20px 0;text-align: center;font-family: 'CoreSans'; font-size: 14px; font-weight: normal; cursor: pointer; font-weight: bold; background-repeat: no-repeat; background-position: 95% center; }

				}
				tbody{
					tr{
						&:nth-child(even){background-color: #fcfcfc;}
						td{text-align: center; color: #5b7381; padding: 19px 5px; width: 20%; font-size: 16px;
							&:last-child{border-right: none;
								a{border: 1px solid #ebebeb; padding: 5px 10px; color: #c3cbd1; text-decoration: none; display: inline-block;margin: 5px 0;
								img{margin-right: 5px;
								}
							}

							}
							&:first-child{
								a{border: 1px solid #ebebeb; padding: 5px 15px; text-decoration: none;display: inline-block;width: 220px;}

							}
							&:nth-child(3),
							&:nth-child(4){text-decoration: underline;}
						}
					}
				}
			}
		}
	}

/* /my-streams */

/* payments */

	.payments{
		.mbox{
			.title{margin-bottom: 35px;}
			.form-wrapper{
				form{width: 100%; max-width: 515px; background: #eaeced;
					label{border-bottom: 1px solid #dde1e3; padding: 30px 30px 10px 20px; display: flex;
							flex-wrap: wrap;
						&:nth-child(2){
							img{
								margin-right: 10px;
							}
							p{margin-top: -15px;}
						}
						img{margin-right: 20px;
							}
						input{ width: 390px; height: 40px; padding-left: 20px; border: 1px solid #e0e5e7;
							&.error{ border: 1px solid red;
							}
							&::-webkit-input-placeholder {color:#ced5d9;}
							&::-moz-placeholder          {color:#ced5d9;}/* Firefox 19+ */
							&:-moz-placeholder           {color:#ced5d9;}/* Firefox 18- */
							&:-ms-input-placeholder      {color:#ced5d9;}
						}
						p{margin: 0; font-size: 12px; color: #bdc1c4;padding-left: 80px; }
					}
					.buton-wrapper{ width: 100%; padding: 20px 0;
						button{border: none; margin: 0 auto; min-width: calc(100% - 30px); padding: 20px 0;	 min-height: 70px;
							span{min-height: 20px; font-size: 32px;}
						}
					}
				}
			}
			.paiment-table{margin-top: 60px;
				thead{
					th{ font-size: 16px; color: #fff; font-weight: 400;}

				}
				tbody{
					tr{
						&:nth-child(odd){background-color: #fcfcfc;}
						td{text-decoration: none; color: #8395a0;

						}
					}
				}
			}
		}
	}

/* /payments */

/* tikets, referal-system */

	.tikets, .referal-system{
		.mbox{position: relative;
			.open-tiket,.clothe-tiket{display: inline-block; background:#eaeced; width: 300px; text-align: center;padding: 17px 0;	cursor: pointer;
				&.active{ background-color: #d2d9dc; position: relative;
					&:after{ display: block; content: ''; position: absolute; top: 50px; left: 50%; margin-left: - 10px;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-top: 10px solid #d2d9dc;
					border-bottom: 10px solid transparent;
					}
				}
			}
			.open-tiket.active~.open-tiket-table{display:table;  }
			.clothe-tiket.active~.clothe-tiket-table{display:table;  }

			.button-orange{width: 180px; height: 50px; font-size: 18px; display: inline-block; text-align: center; position: absolute; right: 10px; top: 80px;
				span{vertical-align: middle; line-height: 50px;}
			}
			.tikets-table{ display: none;
				thead{
					tr{
						th{color: #fff; font-weight: 300;  cursor: default;

						}
					}
				}
				tbody{
					tr{
						td{
							&:last-child{text-decoration: none;
							}
						}
					}
				}
			}
		}
	}

/* /tikets, referal-system */

/* referal-system */

	.referal-system{
		.mbox{
			.referal-link{ font-size: 16px; display: inline-block; text-align: center; position: absolute; right: 10px; top: 100px;color:#ced5d9;
				input{width: 240px; border: 1px solid #e0e5e7; margin-left: 10px;
					&::-webkit-input-placeholder {color:#ced5d9;}
					&::-moz-placeholder          {color:#ced5d9;}/* Firefox 19+ */
					&:-moz-placeholder           {color:#ced5d9;}/* Firefox 18- */
					&:-ms-input-placeholder      {color:#ced5d9;}
				}
			}
		}
	}

/* /referal-system */

/* rotator */

	.rotator{
		.mbox{ max-width: 1130px;
			.form-wrapper{
				.rotator-form.common-form{
					.common-forms-wrap{justify-content: space-between;}
					.left-side, .right-side{
						.title{height:54px;margin-bottom:20px;}
						.automatic-insertion{ display: block;background-color:#eaeced;border-bottom:1px solid #dde1e3;
							label{display:inline-block;background-color:transparent;border-bottom:none;
								input[type="checkbox"]{width: auto; display: inline-block;margin-right: -15px;width:17px;}
								span{display: inline-block;}
							}
							
						}
						label{
							input.error{border: 1px solid red;}
						}
					}

					.left-side{margin-right:0;}

				}
			}
		}
	}

/* /rotator */

/* common-form */

	.common-form{max-width: 1120px;width:100%;
		.common-forms-wrap{display: flex; flex-wrap: wrap;}
		.left-side, .right-side{ width: calc(50% - 50px); display: flex; flex-direction: column;
			label{background-color: #eaeced; padding: 25px 0;border-bottom: 1px solid #dde1e3; display: flex; flex-direction: column;
				img{

				}
				input, select{ width: calc(100% - 50px); margin: 0 20px 0 30px; display: block;line-height: 40px; vertical-align: middle;padding-left: 10px; border: none;
					&::-webkit-input-placeholder {color:#8496a1;}
					&::-moz-placeholder          {color:#8496a1;}/* Firefox 19+ */
					&:-moz-placeholder           {color:#8496a1;}/* Firefox 18- */
					&:-ms-input-placeholder      {color:#8496a1;}

				}
				select{
					&:after{content: ""; display: block; position: absolute;
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-top: 10px solid #d2d9dc;
						border-bottom: 10px solid transparent;
					}
				}
				textarea{overflow: auto; resize: none;margin: 0 20px 0 30px; border: none;}
				span{margin: 0 20px 10px 30px; color: #8d9da7;}
				button{background: #d2d9dc; color: #5b7381; border: none; width :170px; height: 32px; align-self: flex-end;margin: 10px 20px 0 30px;
					&:hover{}
				}
				input[type="checkbox"]{height :17px; min-width: 17px; position: relative;
					&:before{display: block; content: ''; width: 17px ; height: 17px; background: #fff; position: absolute;}
					&:after{ display: none; content: ''; width: 10px ; height: 17px; background: transparent; position: absolute; border-left: 2px solid black; border-top: 2px solid black; transform: rotate(225deg); top: -5px; left: 15px;
					}
					&:checked{
						&:after{display: block;}
					}
				}
			}
		}
		.left-side{margin-right:100px;}
		.button-wrapper{ padding: 20px 0 30px 0; width: 100%;
			.button-orange{border: none; width: 100%; max-width: 510px; height: 100px; padding: 25px 0; font-size: 28px;
			}
		}
	}

/* /common-form */

/* autotarget */

	.autotarget{

		.title{margin-bottom: 20px;}

		.mbox{
			.form-wrapper{
				.autotarget-form{

					.right-side, .left-side{
						.jqselect{width: calc(100% - 50px); margin: 0 20px 0 30px; line-height: 40px; padding-left: 10px; border: none; padding-left: 0px;
							select{border: none;
							}
							.jq-selectbox__select{border: none;border-radius: 0; box-shadow: none; background:#fff; color:#8496a1;
								.jq-selectbox__trigger{border: none;}
							}
							.jq-selectbox__dropdown{top:100%!important;}
						}
					}
				}
			}
		}
	}

/* /autotarget */

/* profile */

	.profile{

		.common-form{
			.common-forms-wrap{justify-content: space-between;}
		}

		.span-email-wrapper{display: block;width: 100%;text-align:center;padding-top:10px;}

		.mbox{
			.form-wrapper{
				.title{margin-bottom:20px;}
				.profile-form{
					.left-side, .right-side{
						label{flex-direction: row;flex-wrap:wrap; padding: 25px 15px; align-items: center;
							&:nth-of-type(1){margin-bottom: 30px;}
							.profile-descript-main{display: flex;justify-content: space-between;align-items: center;width:100%;
								.profile-descript-wrap{display:flex;justify-content: flex-start;align-items: center;width:135px;}
							}
							.input-wrapper{width:calc(100% - 140px);}
							input{
								&.error{border: 1px solid red;}
							}
							span{ margin: 0px 0px 0px 0px; vertical-align: middle; color: #5b7280;font-size: 18px; vertical-align: middle;
								span{color: #b0c1c8; font-size: 12px;}
							}
							.image-wrapper{margin-right: 10px}
							img{max-height: 30px; margin-right: 5px;}

						}

						.ref-item{ padding: 0;
							.refwrapper-left, .refwrapper-right{ width: 50%;padding: 25px 0 25px 0px;}

							.refwrapper-right{background:#d2d9dc; text-align: center;
								span{line-height:1; font-size: 36px; }
							}

							.refwrapper-left{padding: 30px 0 20px 25px; display: flex;
							}
						}

					}

					.right-side{
						label{

							&:nth-of-type(2),&:nth-of-type(3){
								span{line-height: 1;}
							}
							&:nth-of-type(5){
								.span-wrapper:last-child{
									span{color: #cf6f55; font-size: 14px;  margin-top: 4px;}

								}
							}

						}
					}
					.left-side{margin-right:0;
						label{
							&:nth-of-type(7){margin-top: 30px;}
							&:nth-of-type(4){ flex-wrap: wrap; padding-bottom: 0;
								.span-email-wrapper{ text-align: center;width: 100%;padding: 5px 0;
									span{color: #b0c1c8; font-size: 12px; width: 100%; }
								}
							}
						}
					}



				}
			}
		}
	}

/* /profile */