@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

    /* profile */

        .profile{
            .mbox{
                .form-wrapper{
                    .profile-form.common-form{
                        .left-side, .right-side{width:calc(50% - 20px);
                            
                        }
                    }
                }
            }
        }

    /* /profile */

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

    /* common-form */

        .common-form{
            .common-forms-wrap{flex-direction:column;}
            .left-side, .right-side{width:100%;
                label{background-color:#fff;border-bottom:none;}
            }
            .button-wrapper{
                .button-orange{margin:0 auto;}
            }
        }

    /* /common-form */

    /* autotarget */

        .autotarget{
            .mbox{
                .form-wrapper{
                    .autotarget-form{
                        .right-side, .left-side{
                            label{
                                span{font-size: 16px;color:#aab4b9;}
                            }
                            .jqselect{
                                .jq-selectbox__select{border:1px solid #dfe6e8;height:62px;line-height:62px;
                                    .jq-selectbox__trigger{width:60px;
                                        .jq-selectbox__trigger-arrow{border-top:none;border-left:none;border-right:none;top:50%;left:25%;
                                            &:before, &:after{content:'';display: block;position:absolute;width:25px;height:3px;background-color: #9bb6c1;transform-origin:50% 50%;}
                                            &:before{transform:rotate(45deg) translateZ(0px);left:-8px;}
                                            &:after{transform:rotate(-45deg) translateZ(0px);left:8px;}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    /* /autotarget */

    /* profile */

        .profile{
            .mbox{
                .form-wrapper{
                    
                    .profile-form.common-form{
                        .left-side, .right-side{width:100%;
                            label{padding:25px 0;
                                &:nth-of-type(1), &:nth-of-type(7){margin-bottom: 0;margin-top:0;}
                                &:nth-of-type(5){
                                    .profile-descript-wrap{
                                        .span-wrapper{
                                            &:last-child{
                                                span{color:#5b7280;font-size:18px;}
                                            }
                                        }
                                    }
                                    .profile-descript-main{
                                        &>.span-wrapper{display:block;width:calc(100% - 150px);}
                                    }
                                }
                                .input-wrapper{width:calc(100% - 150px);}
                                input{border:1px solid #dfe6e8;margin:0;width:100%;height:60px;line-height: 60px;
                                    &[disabled]{background-color:#f4f4f4;}
                                }
                                .span-email-wrapper{
                                    span{font-size:12px;margin-left:-120px;}
                                }
                                &.profile-pass{margin:0 -10px;padding:25px 10px;background-color:#f7f9f9;}
                            }
                            .ref-item{display: flex!important;padding:0 0px 0 0px;justify-content: space-between;
                                .refwrapper-left{width:135px;padding:30px 0 20px 0px;}
                                .refwrapper-right{width:calc(100% - 150px);background:transparent;text-align:left;}
                            }
                        }

                        .button-wrapper{
                            .button-orange{max-width: 620px;}
                        }

                    }

                }
            }

        }

    /* /profile */

    /* common-table */



    /* /common-table */

    /* table-to-sort */



    /* /table-to-sort */

    /* section-heading */



    /* /section-heading */

    /* pager */



    /* /pager */

    /* waiting */



    /* /waiting */

    /* balance */



    /* /balance */

    /* offer-page */



    /* /offer-page */

    /* my-streams */



    /* /my-streams */

    /* payments */



    /* /payments */


    /* tikets, referal-system */



    /* /tikets, referal-system */

    /* referal-system */



    /* /referal-system */

    /* rotator */



    /* /rotator */

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}