@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1410px){

    /* statistic */

        .statistic{
            .statistic-table-main{overflow-x:scroll;}
        }

    /* /statistic */

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

    /* statistic */

        .statistic{

            .statistic-tab-nav{flex-wrap:wrap;justify-content: space-around;
                label,a{width:calc(100% / 6);}
            }

            .statistic-filter{
                .statistic-filter-top{flex-wrap:wrap;
                    .statistic-filter-radio-buttons{width:100%;text-align:center;margin-bottom:5px;}
                }
            }

        }

    /* /statistic */

}
@media screen and (max-width: 1100px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

    /* offers-table */

        .offers-table{

            .mbox{padding-left:0;padding-right:0;}

            .offers-table-left{width:100%;}

            .offers-table-top, .offers-table-bottom{flex-wrap:wrap;
                .offers-table-right{width:100%;}
            }

            .offers-table-top{margin-bottom:1px;
                .offers-table-left{margin-bottom:10px;}
            }

            .offers-table-bottom{display: none;}

            .search-line{
                .search-line-title{display: none;}
                .search-line-wrap{width:calc((100% - 256px) / 3);margin-right:1px;
                    &:last-child{width:256px;}
                }
                .search-line-input{
                    input{height:66px;line-height:66px;font-size:20px;}
                }
                .search-line-submit{
                    button{height:66px;width:66px;background-image:url(../images/loop-bigger.png);background-position:center center;background-repeat:no-repeat;
                        img{display: none;}
                    }
                }

                .jq-selectbox{
                    .jq-selectbox__select{height:66px;background-color:#d0dadd;padding:0 10px 0 10px;display: flex;align-items: center;}
                    .jq-selectbox__trigger{display: none;}
                    .jq-selectbox__select-text{color:#fff;text-shadow:none;width:100%!important;text-align:center;}
                }

            }

            .offers-table-main{
                .table-main{
                    .offers-buttons{
                        .offers-buttons-wrap{display: flex;justify-content: flex-end;margin-bottom:0;}
                        .button-offers-plus, .button-offers-minus{width:75px;height:83px;}
                        .button-transparent{width: 75px;height:83px;margin:0;
                            &:last-child{border-width:1px 1px 0 1px;}
                            .icon-wrap{display: none;}
                            span{margin-left:0;font-size:16px;}
                        }
                    }
                }
            }

        }

    /* /offers-table */

    /* table-main */

        .table-main{
            table{
                tr{
                    td, th{
                        &:first-child{display: none;}
                    }
                }
                td{padding:0;}
            }
        }

    /* /table-main */

    /* statistic */

        .statistic{

            .statistic-table-main{overflow:visible;}

            .statistic-filter{
                .statistic-filter-bottom{flex-wrap:wrap;justify-content: space-around;
                    .statistic-input-wrap{padding:0 5px;margin-bottom:10px;
                        &:first-child, &:last-child{padding-left:5px;padding-right:5px;}
                    }
                }
            }

            .mobile-statistic-search{display:block;}
            .statistic-big-search{display:none;}

            .statistic-table{min-width:0;flex-wrap:wrap;

                .statistic-table-wrap{width:100%;}

                table{
                    .statistic-table-title{
                        th{background-color: transparent;color:#4e7483;font-size: 25px;border-width:0px 0px 5px 0px;padding:35px 0 35px 0;}
                    }
                    .statistic-row{
                        td{font-size:16px;}
                    }
                    .statistic-table-result{
                        td{font-size: 16px;}
                    }
                }

                .statistic-table-left, .statistic-table-right{
                    tr{
                        &:nth-child(odd){background-color:#fcfcfc;}
                    }
                }

                .statistic-table-center{
                    .statistic-row{
                        &:nth-child(odd){
                            td{
                                &:nth-child(1){background-color:#f3f9ee;}
                                &:nth-child(2){background-color:#fdf7e7;}
                                &:nth-child(3){background-color:#fdf3f0;}
                                &:nth-child(4){background-color:#fcfcfc;}
                                &:nth-child(5){background-color:#fcfcfc;}
                            }
                        }
                    }
                }

            }

            .statistic-footer{display:none;}

        }

    /* /statistic */

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}