@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1800px){
    .panel-top{
        .panel-top-img{max-width: 150px;top: 100px;
            .panel-top-img-person-comment{max-width: 134px;left: -66px;
                .panel-top-img-person-comment-text,p{font-size: 11px;line-height: 1.3;}
            }
        }
    }
}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){
    // left-menu
    .main{margin-left: 190px;}
    .header .header-wrap{margin-left: 240px;}

    .left-menu{width: 190px;}

    // index page panel top
    .panel-top{
        .panel-top-item{max-width: 477px;padding-right: 57px;
            .panel-top-stat{
                &.panel-top-small{max-width: 383px;}
            }
        }
    }
}
@media screen and (max-width: 1280px){
    .panel-top{
        .panel-top-img{opacity: 0;visibility: hidden;}
    }
}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}