/* helping adds*/

.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.cfix:after{content: '';display: block;height: 0;font-size: 1px;line-height: 1px;overflow: hidden;clear: both;}

.hidden-block{position:absolute;left:-99999em;top:-99999em;}

/* /helping adds*/


/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;}
body{min-height:100%;width:100%;min-width:320px;font-family:'CoreSans',arial,sans-serif;background:#fff;color:#405562;position:relative;font-size: 16px;line-height: 1;

}
img{vertical-align:bottom;border:0;max-width:100%;}
a{color: #405562;text-decoration: underline;
    &:hover{text-decoration: none;}
}



/* wraps styling*/
.main{margin-left: 250px;padding-left: 50px;transition:margin ease-out .4s;margin-top: 50px;padding-top: 45px;
    &.hide-menu{margin-left: 56px;}
}

.mbox{max-width:1475px;width:100%;margin:0 auto;position:relative;z-index:1;}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

/* /wraps styling*/

input, textarea{
    &::-webkit-input-placeholder {color:#5b7381;}
    &:-moz-placeholder {color:#5b7381;opacity:1;}
    &::-moz-placeholder {color:#5b7381;opacity:1;}
    &:-ms-input-placeholder {color:#5b7381;}
}

/*End Layout*/

/*fonts*/
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "../fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

//  example -> @include font-face('PFDinTextPro', 'PFDinTextPro-Bold', 700, italic);
@include font-face('CoreSans', 'CoreSansNR-17CondThin', 200);
@include font-face('CoreSans', 'CoreSansNR-37CondLight', 300);
@include font-face('CoreSans', 'CoreSansNR-37CondLightItalic', 300, italic);
@include font-face('CoreSans', 'CoreSansNR-47CondRegular');
@include font-face('CoreSans', 'CoreSansNR-67CondBold', 700);
@include font-face('CoreSans', 'CoreSansNR-Medium', 500);

/*/fonts*/