/* offers-table */

    .offers-table{overflow:hidden;

        .offers-table-top, .offers-table-bottom{display: flex;justify-content: space-between;align-items: center;

            .offers-table-right{width: calc(100% - 250px);display: flex;justify-content: flex-end;align-items: center;

            }

        }
        .offers-table-bottom{
            .offers-table-right{
                .jq-selectbox__dropdown{top: auto !important;bottom: 32px !important;}
            }
        }

        .offers-table-top{margin-bottom: 30px;}

        .offers-table-bottom{justify-content: flex-end;padding-top: 30px;padding-bottom: 30px;}

        .search-line-title{font-size: 16px;color:#ced5d9;letter-spacing:0.6px;margin-right: 13px;width: 150px;}

        .search-line{display: flex;justify-content: flex-end;align-items: center;width:100%;

            .search-line-wrap{position: relative;margin-right: 25px;width: calc((100% / 4) - 75px / 4);
                &:last-child{margin-right: 0;}
            }

            .jq-selectbox{width: 100%;font-family: 'CoreSans',arial,sans-serif;
               .jq-selectbox__select{height: 32px;line-height: 30px;padding: 0 35px 0 10px;background:none;border-radius: 1px;border:1px solid #d2d9dc;box-shadow: none;}
                .jq-selectbox__trigger{width: 32px;background-color: #d2d9dc;border-left:none;
                    .jq-selectbox__trigger-arrow{border-top:none;border-right:none;border-left:none;background-image:url(../images/select-arrow.png);width: 11px;height: 7px;top:calc(50% - 3px);left:calc(50% - 5px);}
                }
                .jq-selectbox__select-text{font-family: 'CoreSans', sans-serif;color:#ced5d9;font-size: 16px;letter-spacing:0.5px;}
                li{font-family: 'CoreSans', sans-serif;}
            }

            .search-line-input{
                input{width: 100%;height: 32px;border:1px solid #e0e5e7;padding:0 31px 0 15px;}
            }
            .search-line-submit{position: absolute;top:0;right:0;
                button{width: 31px;height: 32px;padding: 0;margin:0;border-radius: 0;border:none;background-color:#d2d9dc;transition:background-color 300ms ease;
                    &:hover{background-color:#a8d0e1;}
                }
            }

        }

        .offers-table-main{

            .table-main{
                .offers-table-targets{text-align: left;font-size: 16px;color:#304552;display: flex;flex-direction:column;align-items: center;justify-content: flex-start;
                    .offers-table-tartgets-line-wrap{display: flex;justify-content: space-around;align-items:center;}
                    .offers-table-targets-title{font-weight: 500;}
                    .offers-table-targets-line{
                        .offers-table-targets-line-img{width: 15px;text-align: center;display: inline-block;}
                        span{vertical-align: middle;}
                    }
                }
                .offers-buttons{

                    .offers-buttons-wrap{display: block;text-align: center;margin-bottom: 10px;
                        &:last-child{margin-bottom: 0;}
                    }

                    .button-offers-plus, .button-offers-minus{width: 56px;height: 49px;position: relative;display: block;background: none;border:none;padding:0;margin:0;display: inline-block;transition:background-color 300ms ease;
                        &:before, &:after{content:'';display: block;position: absolute;background-color: #fff;}
                    }
                    .button-offers-plus{background-color: #ef7e2b;
                        &:before{height: 5px;width: 22px;top:calc(50% - 2.5px);left:calc(50% - 11px);}
                        &:after{height: 22px;width: 5px;top:calc(50% - 11px);left:calc(50% - 2.5px);}
                        &:hover{background-color:#ad5310;}
                    }
                    .button-offers-minus{background-color: #5b7381;
                        &:before{width: 14px;height: 5px;left:calc(50% - 7px);top:calc(50% - 2.5px);}
                        &:hover{background-color: #579ac1;}
                    }
                    .button-transparent{display: flex;justify-content: center;align-items:center;text-decoration: none;max-width: 118px;width: 100%;margin: 0 auto;height: 31px;border:1px solid #ef7e2b;background-color: #ef7e2b;color:#5b7381;font-size: 13px;transition:all 300ms ease;
                        .icon-wrap{position: relative;display: block;
                            img{transition:all 300ms ease;
                                &.hover-img{position: absolute;left:0;top:0;opacity: 0;}
                            }
                        }
                        span{margin-left: 5px;color:#fff;transition:all 300ms ease;}
                        &:hover{border-color:#000;background-color: #fff;
                            span{color:#000;
                                &.icon-wrap{
                                    img{opacity: 0;
                                        &.hover-img{opacity: 1;}
                                    }
                                }
                            }
                        }
                        &.remove-offer{border-color:#304552;background-color:#304552;
                            &:hover{background-color:transparent;}
                        }
                    }
                }
            }

        }

        /* my-offers */

            &.my-offers{
                .offers-table-main{
                    .table-main{
                        .offers-table-targets{justify-content: center;
                            .offers-table-targets-wrap{margin-bottom: 10px;
                                &:last-child{margin-bottom: 0;}
                                .offers-table-targets-title{margin-bottom: 5px;text-align: center;}
                            }
                            .offers-table-tartgets-line-wrap{display: flex;
                                .offers-table-targets-line{margin: 0 5px;}
                            }
                        }
                    }
                }
            }

        /* /my-offers */

    }

/* /offers-table */

/* table-main */

    .table-main{
        table{width: 100%;
            tr{border-bottom:1px solid #ededed;
                &:first-child{border-bottom:none;}
            }
            th{background-color: #5b7381;text-align: center;color:#fff;height: 55px;letter-spacing:0.6px;font-size: 16px;font-weight: 500;}
            td{text-align: center;padding:10px 0;
                img{vertical-align: middle;}
            }
            .table-text{font-size: 16px;color:#304552;font-weight: 400;display: inline-block;max-width: 170px;text-align: left;vertical-align: middle;font-weight: 500;}
        }
    }

/* /table-main */

/* statistic */

    .statistic{

        .title{margin-bottom: 33px;}

        .statistic-footer{display: flex;justify-content: flex-end;align-items: center;padding-bottom: 20px;}

        /* mobile-statistic-search */

            .mobile-statistic-search{margin-bottom:25px;display: none;

                .mobile-statistic-search-input{position:relative;margin-bottom:15px;
                    .mobile-satistic-search-input-wrap{
                        input{width:100%;height:64px;padding:0 80px 0 10px;line-height:64px;font-size:18px;border:1px solid #dfe6e8;
                            &::-webkit-input-placeholder {color:#d0dadd;}
                            &:-moz-placeholder {color:#d0dadd;opacity:1;}
                            &::-moz-placeholder {color:#d0dadd;opacity:1;}
                            &:-ms-input-placeholder {color:#d0dadd;}
                        }
                    }
                    .mobile-statistic-search-submit{position:absolute;right:0;top:0;
                        .button{width:70px;height:64px;background-color:#eaedee;display: flex;justify-content: center;align-items:center;border:none;transition:background-color 300ms ease;
                            span{display:block;position: relative;}
                            img{opacity:1;transition:opacity 300ms ease;
                                &.hover{opacity:0;position:absolute;top:0;left:0;}
                            }
                            &:hover{background-color:#5b7381;
                                img{opacity:0;
                                    &.hover{opacity:1;}
                                }
                            }
                        }
                    }
                }

                .mobile-statistic-more-search{
                    .button{display:flex;width:100%;border:none;justify-content: center;align-items: center;justify-content: center;align-items: center;background-color: #eaedee;height:105px;font-size: 30px;color:#4e7483;cursor:pointer;transition:all 300ms ease;
                        &:hover{background-color:#5b7381;color:#fff;}
                    }

                }

            }

        /* /mobile-statistic-search */

        /* statistic-nav */

            .statistic-tab-nav{margin:0 0 20px 0;display:flex;justify-content: space-between;align-items: center;

                    label,a{display: flex;justify-content: center;align-items: center;padding:0 5px;height: 50px;border-right: 1px solid #516775;font-size: 14px;text-align: center;background-color: #5b7381;color:#fff;cursor:pointer;position: relative;z-index:0;width:calc(100% / 13);transition:color 300ms ease;text-decoration: none;
                        &:before{content:'';pointer-events:none;position: absolute;top:0;left:0;bottom:0;right:-1px;z-index: 0;background-color: transparent;transition:all 300ms ease;}
                        &:last-child{border-right:none;}
                        span{position: relative;z-index: 1;}
                        &.active, &:hover{color:#5b7381;z-index: 1;
                            &:before{top:-5px;bottom:-5px;background-color: #eaeced;}
                        }
                        input{position:absolute;width:0;height:0;font-size: 0;line-height: 0;color:transparent;opacity:0;top:0;left:0;padding:0;margin:0;}
                    }

            }

        /* /statistic-nav */

        /* statistic-filter */

            .statistic-filter{margin-bottom: 40px;

                .statistic-filter-top, .statistic-filter-bottom{display: flex;justify-content: space-between;align-items: center;}

                .statistic-filter-top{margin-bottom: 20px;}

                .statistic-filter-radio-buttons{margin-bottom:-5px;
                    label{position:relative;display: inline-block;margin-right: 5px;cursor: pointer;margin-bottom:5px;
                        &:last-child{margin-right: 0;}
                        input{position: absolute;left:0;top:0;z-index: 0;width: 0;height: 0;font-size: 0;padding:0;margin: 0;opacity: 0;color:transparent;background-color: transparent;
                            &:checked{
                                &+span{color:#fff;background-color: #5b7381;}
                            }
                        }
                        span{display: flex;justify-content: center;align-items: center;padding:0 15px;width: 100%;height: 30px;color:#5b7381;background-color: #d2d9dc;position: relative;z-index: 1;transition:all 300ms ease;}
                        &:hover{
                            span{color:#fff;background-color: #5b7381;}
                        }
                    }
                }

                .statistic-datepickers{display: flex;justify-content: space-between;align-items: center;
                    .statistic-datepicker-wrap{margin-right: 15px;position: relative;
                        &:last-child{margin-right: 0;}
                        input{border-color:#e0e5e7;border-style:solid;height:31px;line-height: 31px;padding: 0 42px 0 8px;
                            &:focus{
                                &+button{background-color:#516775;
                                    &:before{opacity: 1;}
                                    img{opacity: 0;}
                                }
                            }
                            &::-webkit-input-placeholder {color:#ced5d9;}
                            &:-moz-placeholder {color:#ced5d9;opacity:1;}
                            &::-moz-placeholder {color:#ced5d9;opacity:1;}
                            &:-ms-input-placeholder {color:#ced5d9;}
                        }
                        button{position: absolute;right: 0;top:0;width: 42px;height: 31px;border:none;border-radius: 0;background:none;background-color:#d2d9dc;padding:0;margin:0;transition: background-color 300ms ease;
                            &:before{content:'';display: block;position: absolute;left:calc(50% - 10px);top:calc(50% - 8px);width: 20px;height: 17px;background-image:url(../images/datepicker-img-hover.png);opacity: 0;transition:opacity 300ms ease;}
                            img{transition:opacity 300ms ease;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
                            &:hover{background-color:#516775;
                                &:before{opacity: 1;}
                                img{opacity: 0;}
                            }
                        }
                    }
                }

                .statistic-filter-submit{
                    .statistic-button-submit{height: 31px;display: flex;justify-content: center;align-items: center;width: 161px;border:none;border-radius:none;background-color: #d2d9dc;color:#5b7381;transition:all 300ms ease;
                        .statistic-button-img-wrap{position: relative;margin-left: 5px;
                            img{transition:opacity 300ms ease;
                                &.hover-img{opacity: 0;position: absolute;top:0;left:0;}
                            }
                        }
                        &:hover{background-color: #5b7381;color:#fff;
                            .statistic-button-img-wrap{
                                img{opacity:0;
                                    &.hover-img{opacity: 1;}
                                }
                            }
                        }
                    }
                }

                .statistic-filter-bottom{display: flex;justify-content: space-between;align-items: center;
                    .statistic-input-wrap{padding:0 10px;
                        &:first-child{padding:0 10px 0 0;}
                        &:last-child{padding:0 0 0 10px;}

                        input{width: 100%;max-width: 120px;padding:0 10px;border:1px solid #e0e5e7;height: 31px;line-height: 31px;
                            &::-webkit-input-placeholder {color:#ced5d9;}
                            &:-moz-placeholder {color:#ced5d9;opacity:1;}
                            &::-moz-placeholder {color:#ced5d9;opacity:1;}
                            &:-ms-input-placeholder {color:#ced5d9;}
                        }

                    }
                }

            }

        /* /statistic-filter */

        /* statistic-table */

            .statistic-table-main{margin-bottom: 30px;}
            .statistic-table{min-width: 1100px;display: flex;justify-content: center;align-items: flex-start;

                .statistic-table-wrap{width:33.33%;position:relative;}

                .statistic-table-left{margin-right:-2px;z-index: 2;
                    .statistic-table-title{
                        th{
                            &:nth-child(1){border-color:transparent #516775 #556080 transparent;}
                            &:nth-child(2){border-color:transparent #516775 #f0785a transparent;}
                        }
                    }
                }
                .statistic-table-center{margin-right:-2px;z-index:1;
                    .statistic-table-title{
                        th{border-color:transparent #516775 #f2ca32 transparent;}
                    }
                    .statistic-table-pretitle{
                        td{
                            &:nth-child(1){background-color:#e6ece2;}
                            &:nth-child(2){background-color:#edeadb;}
                            &:nth-child(3){background-color:#ede6e4;}
                        }
                    }
                    .statistic-row{
                        td{
                            &:nth-child(1){background-color: #f5fcf0;}
                            &:nth-child(2){background-color: #fffae9;}
                            &:nth-child(3){background-color: #fef5f2;}
                        }
                    }
                }
                .statistic-table-right{z-index:0;
                    .statistic-table-title{
                        th{border-color:transparent #516775 #71c285 transparent;border-width: 0 0 5px 0;}
                    }
                }

                table{width: 100%;text-align: center;
                    .statistic-table-title{
                        th{height: 55px;border-width: 0 1px 5px 0;border-style:solid;vertical-align: middle;background-color: #5b7381;color:#fff;}
                    }
                    .statistic-table-pretitle{
                        td{height: 53px;background-color: #eaeced;font-size: 16px;color:#5b7381;}
                    }
                    .statistic-row{
                        td{padding:16px 0;font-size: 14px;color:#5b7381;}
                    }
                    .statistic-table-result{
                        td{padding: 16px 0;color:#fff;font-size: 14px;background-color: #5b7381;}
                    }
                }

            }

        /* /statistic-table */

    }

/* /statistic */