<div class="autotarget">
    <div class="mbox">
        <div class="form-wrapper">

            <div class="title">
                <h1>
                    <img src="images/target.png">
                    <span><b>Автотаргет</b></span>
                </h1>
            </div>

            <form class="autotarget-form common-form">
                <div class="common-forms-wrap">

                    <div class="left-side">
                        
                        <label>
                            <span class="label-heading">Товар</span>
                            <select class="style-it" name="product" placeholder="Название ротатора" required="required">
                                <option value="Крем для внутренних органов человека">Крем для внутренних органов человека</option>
                                <option value="Крем для внутренних органов человека">Крем для внутренних органов человека</option>
                                <option value="Крем для внутренних органов человека">Крем для внутренних органов человека</option>
                            </select>
                        </label>

                        <label>
                            <span class="label-heading">Лендинг:</span>
                            <select class="style-it" name="lending" placeholder="Крем для внутренних органов человека" required="required">
                                <option value="Крем для внутренних органов человека">Крем для внутренних органов человека</option>
                                <option value="Крем для внутренних органов человека">Крем для внутренних органов человека</option>
                                <option value="Крем для внутренних органов человека">Крем для внутренних органов человека</option>
                            </select>
                        </label>

                        <label>
                            <span class="label-heading">Прелендинг</span>
                            <select class="style-it" name="pre-lending" placeholder="Название ротатора" required="required">
                                <option value="Крем для внутренних органов человека">Крем для внутренних органов человека</option>
                                <option value="Крем для внутренних органов человека">Крем для внутренних органов человека</option>
                                <option value="Крем для внутренних органов человека">Крем для внутренних органов человека</option>
                            </select>
                        </label>
                        
                    </div>
                    
                    <div class="right-side">
                        <label>
                            <span class="label-heading">Целевая аудитория</span>
                            <select class="style-it" name="target-audience" placeholder="Название ротатора" required="required">
                                <option value="Крем для внутренних органов человека">Крем для внутренних органов человека</option>
                                <option value="Крем для внутренних органов человека">Крем для внутренних органов человека</option>
                                <option value="Крем для внутренних органов человека">Крем для внутренних органов человека</option>
                            </select>
                        </label>

                        <label>
                            <span class="label-heading">География таргетирования:</span>
                            <select class="style-it" name="targeting-geography" placeholder="Крем для внутренних органов человека" required="required">
                                <option value="Крем для внутренних органов человека">Крем для внутренних органов человека</option>
                                <option value="Крем для внутренних органов человека">Крем для внутренних органов человека</option>
                                <option value="Крем для внутренних органов человека">Крем для внутренних органов человека</option>
                            </select>
                        </label>

                        <label>
                            <span class="label-heading">Время таогетирования</span>
                            <select class="style-it" name="time-of-targeting" placeholder="Название ротатора" required="required">
                                <option value="Крем для внутренних органов человека">Крем для внутренних органов человека</option>
                                <option value="Крем для внутренних органов человека">Крем для внутренних органов человека</option>
                                <option value="Крем для внутренних органов человека">Крем для внутренних органов человека</option>
                            </select>
                        </label>

                    </div>
                    
                </div>

                <div class="button-wrapper">
                    <button class="button-orange"><span>Заказать выплату</span></button>
                </div>
            </form>
    </div>
</div>