<section class="balance">
	<div class="mbox">
		<div class="heading">
			<img src="images/strongbox.png">
			<h3>Баланс</h3>
		</div>
		<div id="pager" class="pager"> 
			<div class="text-wrapper">
				<p>Показать по:</p>
			</div>
			<form>
					<label style="background: transparent;" data-num="10">10</label>
					<label data-num="20">20</label>
					<label data-num="30">30</label>
					<label data-num="40">40</label>				
			</form> 
		</div>
		
		<div class="search-field">
		    <form action="" name="search-field">
		        <div class="form_row">
		            <input type="text" name="search-field-input" placeholder="Поиск" required="required">
		        </div>
		        <div class="search-field-button">
		            <button type="submit"></button>
		        </div>
		    </form>
		</div>

		<table id="tableToSort" cellspacing="1">
			<thead>
				<tr>
					<th>Дата заказа</th>
					<th>Дата оплаты</th>
					<th>ID заказа</th>
					<th>Оффер</th>
					<th>Доход</th>		
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>13.11.2016</td>
					<td>14.11.2016</td>
					<td>6</td>
					<td>ТемиПласт - наклейки для женщин</td>
					<td>7.6</td>								
				</tr>
				<tr>
					<td>14.11.2016</td>
					<td>15.11.2016</td>
					<td>7</td>
					<td>ФемиПласт - наклейки для женщин</td>
					<td>7.6</td>							
				</tr>
				<tr>
					<td>15.11.2016</td>
					<td>16.11.2016</td>
					<td>8</td>
					<td>КемиПласт - наклейки для женщин</td>
					<td>7.6</td>						
				</tr>
				<tr>
					<td>16.11.2016</td>
					<td>17.11.2016</td>
					<td>9</td>
					<td>РемиПласт - наклейки для женщин</td>
					<td>7.6</td>					
				</tr>
				<tr>
					<td>17.11.2016</td>
					<td>18.11.2016</td>
					<td>10</td>
					<td>ПемиПласт - наклейки для женщин</td>
					<td>7.6</td>					
				</tr>
			</tbody>			
		</table>

		<div class="pagination">
            <ul>
                <li><a href="#"><span class="pagination-button prev"></span></a></li>
                <li><a href="#"><span>1</span></a></li>
                <li class="active"><span>2</span></li>
                <li><a href="#"><span>3</span></a></li>
                <li><a href="#"><span class="pagination-button next"></span></a></li>
            </ul>
        </div>

		<div id="pager" class="pager"> 
			<div class="text-wrapper">
				<p>Показать по:</p>
			</div>
			<form>
					<label style="background: transparent;" data-num="10">10</label>
					<label data-num="20">20</label>
					<label data-num="30">30</label>
					<label data-num="40">40</label>				
			</form> 
		</div>
		
		

	</div>
</section>