<!-- HEADER -->
<header class="header">
    <div class="header-wrap">
        <div class="header-items">
            <div class="item item-1">
                <button class="hide-menu"></button>
                <a href="#">
                    <span><img src="images/header-people.png" alt=""></span>
                    <b>primeradminkaikratop@ikra.top</b>
                    <span class="icon-settings"></span>
                </a>
            </div>
            <div class="item item-2">
                <a href="#">
                    <span><img src="images/header-balans.png" alt=""></span>
                    <b>Баланс: 999 999 999 ₶</b>
                </a>
            </div>
            <div class="item item-3">
                <a href="#">
                    <span><img src="images/header-clock.png" alt=""></span>
                    <b>В ожидании: 999 999 999 ₶</b>
                </a>
            </div>
        </div>
        <div class="header-logout">
            <a href="#">
                <span>Выйти</span>
                <img src="images/header-logout.png" alt="">
            </a>
        </div>
    </div>
</header>
<!-- /HEADER -->

