<div class="left-menu">
    <div class="left-menu-wrap">
        <div class="left-menu-logo">
            <div class="left-menu-logo-wrap">
                <a href="#"><img src="images/left-menu-logo.png" alt=""></a>
            </div>
        </div>
        <div class="left-menu-link">
            <ul>
                <li class="active"><a href="/"><span class="item-icon"><span class="icon-img icon-1"></span></span><span class="item-text"><span>Панель</span></span></a></li>
                <li><a href="./news.html"><span class="item-icon"><span class="icon-img icon-2"></span></span><span class="item-text"><span>Новости</span></span></a></li>
                <li><a href="#"><span class="item-icon"><span class="icon-img icon-3"></span></span><span class="item-text"><span>Статистика</span></span></a></li>
                <li><a href="./my-domens.html"><span class="item-icon"><span class="icon-img icon-4"></span></span><span class="item-text"><span>Мои Домены</span></span></a></li>
                <li><a href="#"><span class="item-icon"><span class="icon-img icon-5"></span></span><span class="item-text"><span>Офферы</span></span></a></li>
                <li><a href="#"><span class="item-icon"><span class="icon-img icon-6"></span></span><span class="item-text"><span>Мои офферы</span></span></a></li>
                <li><a href="./my-streams.html"><span class="item-icon"><span class="icon-img icon-7"></span></span><span class="item-text"><span>Мои потоки</span></span></a></li>
                <li><a href="#"><span class="item-icon"><span class="icon-img icon-8"></span></span><span class="item-text"><span>Выплаты</span></span></a></li>
                <li><a href="./tiket-talk.html"><span class="item-icon"><span class="icon-img icon-9"></span></span><span class="item-text"><span>Тикеты</span></span></a></li>
                <li><a href="#"><span class="item-icon"><span class="icon-img icon-10"></span></span><span class="item-text"><span>Рефералы <i>999</i></span></span></a></li>
                <li><a href="#"><span class="item-icon"><span class="icon-img icon-11"></span></span><span class="item-text"><span>Ротатор</span></span></a></li>
                <li><a href="#"><span class="item-icon"><span class="icon-img icon-12"></span></span><span class="item-text"><span>Автотаргет</span></span></a></li>
                <li><a href="#"><span class="item-icon"><span class="icon-img icon-13"></span></span><span class="item-text"><span>Настройки</span></span></a></li>

                <li class="hide-menu">
                    <a href="#">
                        <span class="item-icon-arrow">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                        <span class="item-text-hide">
                            <span>Свернуть меню</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>