<div class="my-domens">
    <div class="title">
        <h1>
            <img src="images/title-6.png" alt="">
            <span><b>Новости</b></span>
        </h1>
    </div>
    <div class="my-domens-form">
        <form action="" name="my-domens-form">
            <div class="form_row">
                <input type="text" name="my-domens-input" placeholder="" required="required">
            </div>
            <div class="my-domens-button">
                <button type="submit"><span>Припарковать</span></button>
            </div>
        </form>
        <p>Чтобы припарковать домен (или поддомен), в панели управления DNS домена необходимо установить CNAME запись park.ikra.top. С момента смены DNS до активции домена может пройти до 72 часов (обычно не более 12). </p>
    </div>
</div>