<section class="offers offers-table my-offers">
    <form class="offers-search-form">
        <div class="mbox">

            <div class="offers-table-top">

                <div class="offers-table-left">

                    <div class="title">
                        <h2>
                            <img src="images/title-8.png" alt="" />
                            <span>
                                <b>Мои офферы</b>
                            </span>
                        </h2>
                    </div>

                </div>

                <div class="offers-table-right">

                    <div class="search-line">

                        <div class="search-line-title">Фильтр офферов:</div>

                        <div class="search-line-wrap">
                            <select name="offers" class="style-it" data-placeholder="Офферы">
                                <option></option>
                                <option value="offer1">offer1</option>
                                <option value="offer2">offer2</option>
                            </select>
                        </div>

                        <div class="search-line-wrap">
                            <select name="category" class="style-it" data-placeholder="Категория">
                                <option></option>
                                <option value="category1">catagory1</option>
                                <option value="category2">catagory2</option>
                            </select>
                        </div>

                        <div class="search-line-wrap">
                            <select name="country" class="style-it" data-placeholder="Страна">
                                <option></option>
                                <option value="country1">country1</option>
                                <option value="country2">country2</option>
                            </select>
                        </div>

                        <div class="search-line-wrap">
                            <div class="search-line-input">
                                <input type="text" name="offer_name" placeholder="Поиск" />
                            </div>
                            <div class="search-line-submit">
                                <button type="button">
                                    <img src="images/search-field-button.png" alt="" />
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="offers-table-main">

                <div class="table-main">

                    <table>

                        <tr>
                            <th>Логотип</th>
                            <th>Название</th>
                            <th>Таргетинг</th>
                            <th>Цели</th>
                            <th>EPC</th>
                            <th>CR</th>
                            <th>Действия</th>
                        </tr>

                        <tr>
                            <td>
                                <img src="images/site-img.png" alt="" />
                            </td>
                            <td>
                                <span class="table-text">Часы от менструальных болей в голове</span>
                            </td>
                            <td>
                                <img src="images/flag-ru.png" alt="" />
                                <span class="table-text">Россия</span>
                            </td>
                            <td>
                                <div class="offers-table-targets">
                                    <div class="offers-table-targets-wrap">
                                        <!--<div class="offers-table-targets-title">Россия:</div>-->
                                        <div class="offers-table-tartgets-line-wrap">
                                            <div class="offers-table-targets-line">
                                                <div class="offers-table-targets-line-img">
                                                    <img src="images/desktop-img.png" alt="" />
                                                </div>
                                                <span>6500 p.</span>
                                            </div>
                                            <div class="offers-table-targets-line">
                                                <div class="offers-table-targets-line-img">
                                                    <img src="images/mobile-img.png" alt="" />
                                                </div>
                                                <span>6500 p.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="offers-table-targets-wrap">
                                        <div class="offers-table-targets-title">Китай:</div>
                                        <div class="offers-table-tartgets-line-wrap">
                                            <div class="offers-table-targets-line">
                                                <div class="offers-table-targets-line-img">
                                                    <img src="images/desktop-img.png" alt="" />
                                                </div>
                                                <span>6500 p.</span>
                                            </div>
                                            <div class="offers-table-targets-line">
                                                <div class="offers-table-targets-line-img">
                                                    <img src="images/mobile-img.png" alt="" />
                                                </div>
                                                <span>6500 p.</span>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                            </td>
                            <td>
                                <div class="table-text">4.23</div>
                            </td>
                            <td>
                                <div class="table-text">7.23%</div>
                            </td>
                            <td>
                                <div class="offers-buttons">
                                    <div class="offers-buttons-wrap">
                                        <a href="#" class="button-transparent">
                                            <span class="icon-wrap">
                                                <img src="images/flow-img.png" class="hover-img" alt="" />
                                                <img src="images/flow-img-hover.png" alt="" />
                                            </span>
                                            <span>Создать поток</span>
                                        </a>
                                    </div>
                                    <div class="offers-buttons-wrap">
                                        <a href="#" class="button-transparent remove-offer" data-offer-id=1>
                                            <span class="icon-wrap">
                                                <img src="images/trashbusket-img.png" class="hover-img" alt="" />
                                                <img src="images/trashbusket-img-hover.png" alt="" />
                                            </span>
                                            <span>Удалить поток</span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <img src="images/site-img.png" alt="" />
                            </td>
                            <td>
                                <span class="table-text">Часы от менструальных болей в голове</span>
                            </td>
                            <td>
                                <img src="images/flag-ru.png" alt="" />
                                <span class="table-text">Россия</span>
                            </td>
                            <td>
                                <div class="offers-table-targets">
                                    <div class="offers-table-targets-wrap">
                                        <!--<div class="offers-table-targets-title">Россия:</div>-->
                                        <div class="offers-table-tartgets-line-wrap">
                                            <div class="offers-table-targets-line">
                                                <div class="offers-table-targets-line-img">
                                                    <img src="images/desktop-img.png" alt="" />
                                                </div>
                                                <span>6500 p.</span>
                                            </div>
                                            <div class="offers-table-targets-line">
                                                <div class="offers-table-targets-line-img">
                                                    <img src="images/mobile-img.png" alt="" />
                                                </div>
                                                <span>6500 p.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="offers-table-targets-wrap">
                                        <div class="offers-table-targets-title">Китай:</div>
                                        <div class="offers-table-tartgets-line-wrap">
                                            <div class="offers-table-targets-line">
                                                <div class="offers-table-targets-line-img">
                                                    <img src="images/desktop-img.png" alt="" />
                                                </div>
                                                <span>6500 p.</span>
                                            </div>
                                            <div class="offers-table-targets-line">
                                                <div class="offers-table-targets-line-img">
                                                    <img src="images/mobile-img.png" alt="" />
                                                </div>
                                                <span>6500 p.</span>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                            </td>
                            <td>
                                <div class="table-text">4.23</div>
                            </td>
                            <td>
                                <div class="table-text">7.23%</div>
                            </td>
                            <td>
                                <div class="offers-buttons">
                                    <div class="offers-buttons-wrap">
                                        <a href="#" class="button-transparent">
                                            <span class="icon-wrap">
                                                <img src="images/flow-img.png" class="hover-img" alt="" />
                                                <img src="images/flow-img-hover.png" alt="" />
                                            </span>
                                            <span>Создать поток</span>
                                        </a>
                                    </div>
                                    <div class="offers-buttons-wrap">
                                        <a href="#" class="button-transparent remove-offer" data-offer-id=2>
                                            <span class="icon-wrap">
                                                <img src="images/trashbusket-img.png" class="hover-img" alt="" />
                                                <img src="images/trashbusket-img-hover.png" alt="" />
                                            </span>
                                            <span>Удалить поток</span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <img src="images/site-img.png" alt="" />
                            </td>
                            <td>
                                <span class="table-text">Часы от менструальных болей в голове</span>
                            </td>
                            <td>
                                <img src="images/flag-ru.png" alt="" />
                                <span class="table-text">Россия</span>
                            </td>
                            <td>
                                <div class="offers-table-targets">
                                    <div class="offers-table-targets-wrap">
                                        <!--<div class="offers-table-targets-title">Россия:</div>-->
                                        <div class="offers-table-tartgets-line-wrap">
                                            <div class="offers-table-targets-line">
                                                <div class="offers-table-targets-line-img">
                                                    <img src="images/desktop-img.png" alt="" />
                                                </div>
                                                <span>6500 p.</span>
                                            </div>
                                            <div class="offers-table-targets-line">
                                                <div class="offers-table-targets-line-img">
                                                    <img src="images/mobile-img.png" alt="" />
                                                </div>
                                                <span>6500 p.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="offers-table-targets-wrap">
                                        <div class="offers-table-targets-title">Китай:</div>
                                        <div class="offers-table-tartgets-line-wrap">
                                            <div class="offers-table-targets-line">
                                                <div class="offers-table-targets-line-img">
                                                    <img src="images/desktop-img.png" alt="" />
                                                </div>
                                                <span>6500 p.</span>
                                            </div>
                                            <div class="offers-table-targets-line">
                                                <div class="offers-table-targets-line-img">
                                                    <img src="images/mobile-img.png" alt="" />
                                                </div>
                                                <span>6500 p.</span>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                            </td>
                            <td>
                                <div class="table-text">4.23</div>
                            </td>
                            <td>
                                <div class="table-text">7.23%</div>
                            </td>
                            <td>
                                <div class="offers-buttons">
                                    <div class="offers-buttons-wrap">
                                        <a href="#" class="button-transparent">
                                            <span class="icon-wrap">
                                                <img src="images/flow-img.png" class="hover-img" alt="" />
                                                <img src="images/flow-img-hover.png" alt="" />
                                            </span>
                                            <span>Создать поток</span>
                                        </a>
                                    </div>
                                    <div class="offers-buttons-wrap">
                                        <a href="#" class="button-transparent remove-offer" data-offer-id=3>
                                            <span class="icon-wrap">
                                                <img src="images/trashbusket-img.png" class="hover-img" alt="" />
                                                <img src="images/trashbusket-img-hover.png" alt="" />
                                            </span>
                                            <span>Удалить поток</span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <img src="images/site-img.png" alt="" />
                            </td>
                            <td>
                                <span class="table-text">Часы от менструальных болей в голове</span>
                            </td>
                            <td>
                                <img src="images/flag-ru.png" alt="" />
                                <span class="table-text">Россия</span>
                            </td>
                            <td>
                                <div class="offers-table-targets">
                                    <div class="offers-table-targets-wrap">
                                        <!--<div class="offers-table-targets-title">Россия:</div>-->
                                        <div class="offers-table-tartgets-line-wrap">
                                            <div class="offers-table-targets-line">
                                                <div class="offers-table-targets-line-img">
                                                    <img src="images/desktop-img.png" alt="" />
                                                </div>
                                                <span>6500 p.</span>
                                            </div>
                                            <div class="offers-table-targets-line">
                                                <div class="offers-table-targets-line-img">
                                                    <img src="images/mobile-img.png" alt="" />
                                                </div>
                                                <span>6500 p.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="offers-table-targets-wrap">
                                        <div class="offers-table-targets-title">Китай:</div>
                                        <div class="offers-table-tartgets-line-wrap">
                                            <div class="offers-table-targets-line">
                                                <div class="offers-table-targets-line-img">
                                                    <img src="images/desktop-img.png" alt="" />
                                                </div>
                                                <span>6500 p.</span>
                                            </div>
                                            <div class="offers-table-targets-line">
                                                <div class="offers-table-targets-line-img">
                                                    <img src="images/mobile-img.png" alt="" />
                                                </div>
                                                <span>6500 p.</span>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                            </td>
                            <td>
                                <div class="table-text">4.23</div>
                            </td>
                            <td>
                                <div class="table-text">7.23%</div>
                            </td>
                            <td>
                                <div class="offers-buttons">
                                    <div class="offers-buttons-wrap">
                                        <a href="#" class="button-transparent">
                                            <span class="icon-wrap">
                                                <img src="images/flow-img.png" class="hover-img" alt="" />
                                                <img src="images/flow-img-hover.png" alt="" />
                                            </span>
                                            <span>Создать поток</span>
                                        </a>
                                    </div>
                                    <div class="offers-buttons-wrap">
                                        <a href="#" class="button-transparent remove-offer" data-offer-id=4>
                                            <span class="icon-wrap">
                                                <img src="images/trashbusket-img.png" class="hover-img" alt="" />
                                                <img src="images/trashbusket-img-hover.png" alt="" />
                                            </span>
                                            <span>Удалить поток</span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </table>

                </div>

            </div>

            <div class="offers-table-bottom">

                <div class="offers-table-right">

                    <div class="search-line">

                        <div class="search-line-title">Фильтр офферов:</div>

                        <div class="search-line-wrap">
                            <select name="offers" class="style-it" data-placeholder="Офферы">
                                <option></option>
                                <option value="offer1">offer1</option>
                                <option value="offer2">offer2</option>
                            </select>
                        </div>

                        <div class="search-line-wrap">
                            <select name="category" class="style-it" data-placeholder="Категория">
                                <option></option>
                                <option value="category1">catagory1</option>
                                <option value="category2">catagory2</option>
                            </select>
                        </div>

                        <div class="search-line-wrap">
                            <select name="country" class="style-it" data-placeholder="Страна">
                                <option></option>
                                <option value="country1">country1</option>
                                <option value="country2">country2</option>
                            </select>
                        </div>

                        <div class="search-line-wrap">
                            <div class="search-line-input">
                                <input type="text" name="offer_name" placeholder="Поиск" />
                            </div>
                            <div class="search-line-submit">
                                <button type="button">
                                    <img src="images/search-field-button.png" alt="" />
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </form>
</section>