<section class="my-streams">
	<div class="mbox">
		<div class="title">
		    <h1>
		        <img src="images/title-10.png" alt="">
		        <span><b>Мои потоки</b><span>тобы создать поток, добавьте себе оффер, затем "Мои офферы" -> "Создать поток"</span></span>
		    </h1>
		     <span class="button-menu"></span>
		</div>
		<table class="my-streams-table" cellspacing="1">
			<thead>
				<tr>
					<th>Ссылка</th>
					<th class="mobile-desktop">Название</th>
					<th>Оффер</th>
					<th>Страница</th>
					<th>Действие</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><span class="mobile-show">FemoBalast</span><a href="">http://www.ikra.top/best</a></td>
					<td class="mobile-desktop">FemoBalast</td>
					<td>Лучший оффер приносящий бабло</td>
					<td>Самая лчшая страница приносящая очень много клиентов и денег</td>
					<td>
						<a href=""><img src="images/gear.png">Настройка</a>
						<a href=""><img src="images/bascket.png">Удалить оффер</a>
					</td>
				</tr>
				<tr>
					<td><span class="mobile-show">FemoBalast</span><a href="">http://www.ikra.top/best</a></td>
					<td class="mobile-desktop">FemoBalast</td>
					<td>Лучший оффер приносящий бабло</td>
					<td>Самая лчшая страница приносящая очень много клиентов и денег</td>
					<td>
						<a href=""><img src="images/gear.png">Настройка</a>
						<a href=""><img src="images/bascket.png">Удалить оффер</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>