<section class="my-streams">
	<div class="mbox">
		<div class="heading">
			<img src="images/my-streams-logo.png">
			<h3>Мои потоки <br>
			<span>Чтобы создать поток, добавьте себе оффер, затем "Мои офферы" -> "Создать поток"</span>
			</h3>
		</div>
		<table class="my-streams-table" cellspacing="1">
			<thead>
				<tr>
					<th>Ссылка</th>
					<th>Название</th>
					<th>Оффер</th>
					<th>Страница</th>
					<th>Действие</th>		
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="">http://www.ikra.top/best</a></td>
					<td>FemoBalast</td>
					<td>Лучший оффер приносящий бабло</td>
					<td>Самая лчшая страница приносящая очень много клиентов и денег</td>
					<td> 
						<a href=""><img src="images/gear.png">Настройка</a>
						<a href=""><img src="images/bascket.png">Удалить оффер</a>
					</td>
				</tr>
				<tr>
					<td><a href="">http://www.ikra.top/best</a></td>
					<td>FemoBalast</td>
					<td>Лучший оффер приносящий бабло</td>
					<td>Самая лчшая страница приносящая очень много клиентов и денег</td>
					<td> 
						<a href=""><img src="images/gear.png">Настройка</a>
						<a href=""><img src="images/bascket.png">Удалить оффер</a>
					</td>
				</tr>
			</tbody>			
		</table>
	</div>
</section>