<div class="news">
    <div class="title">
        <h1>
            <img src="images/title-2.png" alt="">
            <span><b>Новости</b></span>
        </h1>
    </div>
    <div class="news-rows">
        <div class="row">
            <div class="row-top">
                <div class="left">
                    <p>18:23</p>
                    <span>15 июня</span>
                </div>
                <div class="right">
                    <p>Добавлен новый лэндинг Лэндинг 14 для оффера FitoSpray — спрей для похудения</p>
                </div>
            </div>
            <div class="row-bottom">
                <p>Добавлен новый лэндинг Лэндинг 14 для оффера FitoSpray — спрей для похудения</p>
            </div>
        </div>
        <div class="row">
            <div class="row-top">
                <div class="left">
                    <p>18:23</p>
                    <span>15 июня</span>
                </div>
                <div class="right">
                    <p>Добавлен новый лэндинг Лэндинг 14 для оффера FitoSpray — спрей для похудения</p>
                </div>
            </div>
            <div class="row-bottom">
                <p>Добавлен новый лэндинг Лэндинг 14 для оффера FitoSpray — спрей для похудения</p>
            </div>
        </div>
        <div class="row">
            <div class="row-top">
                <div class="left">
                    <p>18:23</p>
                    <span>15 июня</span>
                </div>
                <div class="right">
                    <p>Добавлен новый лэндинг Лэндинг 14 для оффера FitoSpray — спрей для похудения</p>
                </div>
            </div>
            <div class="row-bottom">
                <p>Добавлен новый лэндинг Лэндинг 14 для оффера FitoSpray — спрей для похудения</p>
            </div>
        </div>
        <div class="row">
            <div class="row-top">
                <div class="left">
                    <p>18:23</p>
                    <span>15 июня</span>
                </div>
                <div class="right">
                    <p>Добавлен новый лэндинг Лэндинг 14 для оффера FitoSpray — спрей для похудения</p>
                </div>
            </div>
            <div class="row-bottom">
                <p>Добавлен новый лэндинг Лэндинг 14 для оффера FitoSpray — спрей для похудения</p>
            </div>
        </div>
    </div>
</div>