<div class="news">
    <div class="mbox">
        <div class="title">
            <h1>
                <img src="images/title-2.png" alt="">
                <span><b>Новости</b></span>
            </h1>
        </div>
        <div class="news-rows">
            <div class="row">
                <div class="row-top">
                    <div class="left">
                        <p>18:23</p>
                        <span>15 июня</span>
                    </div>
                    <div class="right">
                        <p>Добавлен новый лэндинг Лэндинг 14 для оффера FitoSpray — спрей для похудения</p>
                    </div>
                </div>
                <div class="row-bottom">
                    <p>Добавлен новый лэндинг Лэндинг 14 для оффера FitoSpray — спрей для похудения</p>
                </div>
            </div>
            <div class="row">
                <div class="row-top">
                    <div class="left">
                        <p>18:23</p>
                        <span>15 июня</span>
                    </div>
                    <div class="right">
                        <p>Добавлен новый лэндинг Лэндинг 14 для оффера FitoSpray — спрей для похудения</p>
                    </div>
                </div>
                <div class="row-bottom">
                    <p>Добавлен новый лэндинг Лэндинг 14 для оффера FitoSpray — спрей для похудения</p>
                </div>
            </div>
            <div class="row">
                <div class="row-top">
                    <div class="left">
                        <p>18:23</p>
                        <span>15 июня</span>
                    </div>
                    <div class="right">
                        <p>Добавлен новый лэндинг Лэндинг 14 для оффера FitoSpray — спрей для похудения</p>
                    </div>
                </div>
                <div class="row-bottom">
                    <p>Добавлен новый лэндинг Лэндинг 14 для оффера FitoSpray — спрей для похудения</p>
                </div>
            </div>
            <div class="row">
                <div class="row-top">
                    <div class="left">
                        <p>18:23</p>
                        <span>15 июня</span>
                    </div>
                    <div class="right">
                        <p>Добавлен новый лэндинг Лэндинг 14 для оффера FitoSpray — спрей для похудения</p>
                    </div>
                </div>
                <div class="row-bottom">
                    <p>Добавлен новый лэндинг Лэндинг 14 для оффера FitoSpray — спрей для похудения</p>
                </div>
            </div>
        </div>
        <div class="news_bottom">
            <div class="news_archive">
                <a href="#">
                    <img src="images/news-archive.png" alt="">
                    <span>Архив новостей</span>
                </a>
            </div>
            <div class="pagination">
                <ul>
                    <li><a href="#"><span class="pagination-button prev"></span></a></li>
                    <li><a href="#"><span>1</span></a></li>
                    <li class="active"><span>2</span></li>
                    <li><a href="#"><span>3</span></a></li>
                    <li><a href="#"><span class="pagination-button next"></span></a></li>
                </ul>
            </div>
            //= search-field.html
        </div>
    </div>
</div>