<div class="panel-top">
    <div class="panel-top-wrap">
        <div class="panel-top-item">
            <div class="title">
                <h1>
                    <img src="images/title-3.png" alt="">
                    <span><b>Панель вебмастера</b></span>
                </h1>
                <span class="button-menu"></span>
            </div>
            <div class="panel-top-big panel-top-stat">
                <div class="row">
                    <div class="item item-1"><img src="images/panel-big-img-1.png" alt=""> </div>
                    <div class="item item-2"><p>Посетителей</p></div>
                    <div class="item item-3"><b>6 794 468</b></div>
                </div>
                <div class="row">
                    <div class="item item-1"><img src="images/panel-big-img-2.png" alt=""> </div>
                    <div class="item item-2"><p>Заказов</p></div>
                    <div class="item item-3"><b>999 999 999</b></div>
                </div>
                <div class="row">
                    <div class="item item-1"><img src="images/panel-big-img-3.png" alt=""> </div>
                    <div class="item item-2"><p>Прибыли</p></div>
                    <div class="item item-3"><b>999 999 999</b></div>
                </div>
            </div>
        </div>
        <div class="panel-top-item">
            <div class="title">
                <h2>
                    <img src="images/title-3-2.png" alt="">
                    <span><b>Ваш менеджер</b></span>
                </h2>
            </div>
            <div class="panel-top-stat panel-top-small">
                <div class="row big">
                    <div class="item item-1 "><img src="images/panel-small-img.png" alt=""> </div>
                    <div class="item item-2"><p>Ваш личный менеджер: Петр Осётр</p></div>
                </div>
                <div class="row">
                    <div class="item item-1"><img src="images/panel-small-img-1.png" alt=""> </div>
                    <div class="item item-2"><p>94357980640</p></div>
                </div>
                <div class="row">
                    <div class="item item-1"><img src="images/panel-small-img-2.png" alt=""> </div>
                    <div class="item item-2"><p><a href="skype:support.ikra.top">support.ikra.top</a></p></div>
                </div>
                <div class="row">
                    <div class="item item-1"><img src="images/panel-small-img-3.png" alt=""> </div>
                    <div class="item item-2"><p><a href="mailto:support@ikra.top">support@ikra.top</a></p></div>
                </div>
                <div class="row">
                    <div class="item item-1"><img src="images/panel-small-img-4.png" alt=""> </div>
                    <div class="item item-2"><p><a href="#">Пожаловаться</a></p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-top-img">
        <div class="panel-top-img-person">
            <img src="images/panel-top-img-person.png" alt="">
        </div>
        <div class="panel-top-img-person-comment">
            <img src="images/panel-top-img-person-comment.png" alt="">
            <div class="panel-top-img-person-comment-text">
                <p>Алло, тюлень!</p>
                <p>Харэ загорать, офферы добавляй!</p>
            </div>
        </div>
    </div>
</div>