<div class="payments">
	<div class="mbox">
<!-- 		<div class="section-heading">
			<img src="images/stack-of-many.png">
			<h3>Выплаты</h3>
		</div> -->
		<div class="title">
		    <h1>
		        <img src="images/title-11.png" alt="">
		        <span><b>Выплаты</b></span>
		    </h1>
		    <span class="button-menu"></span>
		</div>
		<div class="form-wrapper">
			<form class="payment-form">
				<label>
					<img src="images/wallet.png">
					<input type="text" name="wallet WMR" placeholder="Ваш кошелек WMR" required="required">
					<p>Выплата производится на ваш кошелек WMR, указанный в настройках профиля.</p>
				</label>

				<label>
					<img src="images/dollar-pensil.png">
					<input type="text" name="walletSum" placeholder="Введите сумму" required="required">
					<p>Минимальная сумма выплаты - 2500</p>
				</label>
				<div class="buton-wrapper">
					<button class="button-orange"><span>Заказать выплату</span></button>
				</div>
			</form>
			<table class="paiment-table common-table" cellspacing="1">
				<thead>
					<tr>
						<th>Дата</th>
						<th>Способ оплаты</th>
						<th>Счет</th>
						<th>Сумма</th>
						<th>Выплачен</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>13.11.2016</td>
						<td>WMR</td>
						<td> R94587984590</td>
						<td> 4238956987</td>
						<td>987</td>
					</tr>
					<tr>
						<td>13.11.2016</td>
						<td>WMR</td>
						<td> R94587984590</td>
						<td> 4238956987</td>
						<td>987</td>
					</tr>
					<tr>
						<td>13.11.2016</td>
						<td>WMR</td>
						<td> R94587984590</td>
						<td> 4238956987</td>
						<td>987</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>