<div class="profile">
    <div class="mbox">
        <div class="form-wrapper">

            <div class="title">
                <h1>
                    <img src="images/brain.png" alt="">
                    <span>
                        <b>Настройкa</b>
                    </span>
                </h1>
                <span class="button-menu"></span>
            </div>

            <form class="profile-form common-form">

                <div class="common-forms-wrap">

                    <div class="left-side">

                        <label>
                            <div class="profile-descript-main">
                                <div class="profile-descript-wrap">
                                    <div class="image-wrapper">
                                        <img src="images/your-link.png" alt="" />
                                    </div>
                                    <div class="span-wrapper">
                                        <span class="label-heading">Ваша ссылка</span>
                                    </div>
                                </div>
                                <div class="input-wrapper">
                                    <input type="text" name="wallet_WMR" required="required" />
                                </div>
                            </div>
                        </label>

                        <label>
                            <div class="profile-descript-main">
                                <div class="profile-descript-wrap">
                                    <div class="image-wrapper">
                                        <img src="images/name-in-top.png" alt=""/>
                                    </div>
                                    <div class="span-wrapper">
                                        <span class="label-heading">Имя в топе</span>
                                    </div>
                                </div>
                                <div class="input-wrapper">
                                    <input type="text" name="wallet WMR" value="clickable" required="required" />
                                </div>
                            </div>
                        </label>

                        <label>
                            <div class="profile-descript-main">
                                <div class="profile-descript-wrap">
                                    <div class="image-wrapper">
                                        <img src="images/telephone-ico.png" alt="" />
                                    </div>
                                    <div class="span-wrapper">
                                        <span class="label-heading">Телефон</span>
                                    </div>
                                </div>
                                <div class="input-wrapper">
                                    <input type="text" name="telefon" value="+79 055 34 77 44" required="required" class="tel-mask">
                                </div>
                            </div>
                        </label>

                        <label>
                            <div class="profile-descript-main">
                                <div class="profile-descript-wrap">
                                    <div class="image-wrapper">
                                        <img src="images/e-mail-ico.png" alt="" />
                                    </div>
                                    <div class="span-wrapper">
                                        <span class="label-heading">E-mail</span>
                                    </div>
                                </div>
                                <div class="input-wrapper">
                                    <input type="email" name="e-mail" value="click@ikra.top" required="required" disabled />
                                </div>
                            </div>
                            <div class="span-email-wrapper">
                                <span>Email можно сменить при запросе в тикете</span>
                            </div>
                        </label>

                        <label>
                            <div class="profile-descript-main">
                                <div class="profile-descript-wrap">
                                    <div class="image-wrapper">
                                        <img src="images/skype-ico.png" alt="" />
                                    </div>
                                    <div class="span-wrapper">
                                        <span class="label-heading">Skype:</span>
                                    </div>
                                </div>
                                <div class="input-wrapper">
                                    <input type="text" name="skype" value="clickable" required="required" />
                                </div>
                            </div>
                        </label>

                        <label>
                            <div class="profile-descript-main">
                                <div class="profile-descript-wrap">
                                    <div class="image-wrapper">
                                        <img src="images/icq-ico.png" alt="" />
                                    </div>
                                    <div class="span-wrapper">
                                        <span class="label-heading" >ICQ:</span>
                                    </div>
                                </div>
                                <div class="input-wrapper">
                                    <input type="text" name="icq" value="94357980640" required="required" />
                                </div>
                            </div>
                        </label>

                        <label>
                            <div class="profile-descript-main">
                                <div class="profile-descript-wrap">
                                    <div class="image-wrapper">
                                        <img src="images/lock-ico.png" alt=""/>
                                    </div>
                                    <div class="span-wrapper">
                                        <span class="label-heading" >Новый пароль</span>
                                    </div>
                                </div>
                                <div class="input-wrapper">
                                    <input type="text" name="new-password" required="required" />
                                </div>
                            </div>
                        </label>
                    </div>
                    
                    <div class="right-side">
        
                        <label>
                            <div class="refwrapper-left">
                                <div class="image-wrapper">
                                    <img src="images/referals-ico.png" alt=""/>
                                </div>
                                <div class="span-wrapper">
                                    <span class="label-heading">Рефералов:</span>
                                </div>
                            </div>
                            <div class="refwrapper-right">
                                <span>371</span>
                            </div>
                        </label>

                        <label>
                            <div class="profile-descript-main">
                                <div class="profile-descript-wrap">
                                    <div class="image-wrapper">
                                        <img src="images/postback-create.png" alt=""/>
                                    </div>
                                    <div class="span-wrapper"> 
                                        <span class="label-heading">Postback <br>
                                            <span>лид создан</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="input-wrapper">
                                    <input type="text" name="postback-create" value="ikra.top" required="required" />
                                </div>
                            </div>
                        </label>

                        <label>
                            <div class="profile-descript-main">
                                <div class="profile-descript-wrap">
                                    <div class="image-wrapper">
                                        <img src="images/postback-confirm.png" alt=""/>
                                    </div>
                                    <div class="span-wrapper"> 
                                        <span class="label-heading">Postback <br>
                                            <span>лид потвержден</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="input-wrapper">
                                    <input type="text" name="postback-confirm" value="ikra.top" required="required" />
                                </div>
                            </div>
                        </label>

                        <label>
                            <div class="profile-descript-main">
                                <div class="profile-descript-wrap">
                                    <div class="image-wrapper">
                                        <img src="images/traffic-back.png" alt=""/>
                                    </div>
                                    <div class="span-wrapper">
                                        <span class="label-heading">TrafficBack</span>
                                    </div>
                                </div>
                                <div class="input-wrapper">    
                                    <input type="text" name="traffic-top" value="ikra.top" required="required" />
                                </div>
                            </div>
                        </label>

                        <label>
                            <div class="profile-descript-main">
                                <div class="profile-descript-wrap">
                                    <div class="image-wrapper">
                                        <img src="images/wmr-wallet.png" alt=""/>
                                    </div>
                                    <div class="span-wrapper">
                                        <span class="label-heading">WMR кошелек</span>
                                    </div>
                                </div>
                                <div class="span-wrapper">
                                    <span>Изменение возможно при обращении к тех. поддержке</span>
                                </div>
                            </div>
                        </label>

                    </div>

                </div>

                <div class="button-wrapper">
                    <button class="button-orange">
                        <span>Сохранить данные</span>
                    </button>
                </div>
            </form>
        </div>
</div>