<div class="profile">
    <div class="mbox">
        <div class="form-wrapper">
            <form class="profile-form common-form">
                <div class="left-side">
                    <div class="section-heading">
                        <img src="images/brain.png">
                        <h3>Настройка</h3>
                    </div>
                    <label>
                        <span class="label-heading">Имя в топе</span>
                        <input type="text" name="wallet WMR" placeholder="Название ротатора" required="required">
                    </label>

                    <label>
                        <span class="label-heading">Телефон</span>
                        <input type="text" name="walletSum" placeholder="Крем для внутренних органов человека" required="required">
                    </label>
                    <label>
                        <span class="label-heading">E-mail</span>
                        <textarea name="Лендинги" rows="9"></textarea>
                    </label>
                    <label>
                        <span class="label-heading" >Skype:</span>
                        <textarea name="Прелендинги" rows="9"></textarea>
                    </label>
                    <label>
                        <span class="label-heading" >ICQ:</span>
                        <textarea name="Прелендинги" rows="9"></textarea>
                    </label>
                    <label>
                        <span class="label-heading" >Новый пароль</span>
                        <textarea name="Прелендинги" rows="9"></textarea>
                    </label>
                </div>
                
                <div class="right-side">
    
                    <label>
                        <span class="label-heading">Парковочный домен:</span>
                        <input type="text" name="walletSum" placeholder="Название ротатора" required="required">
                    </label>

                    <label>
                        <span class="label-heading">Тип трафика:</span>
                        <input type="text" name="walletSum" placeholder="Крем для внутренних органов человека" required="required">
                    </label>

                    <label>
                        <span class="label-heading">Utm_source</span>
                        <input type="text" name="walletSum" placeholder="Название ротатора" required="required">
                    </label>

                    <label>
                        <span class="label-heading">Sub_id</span>
                        <input type="text" name="walletSum" placeholder="Назвние ротатора" required="required">
                    </label>

                    <label>
                        <span class="label-heading">Utm-campaign</span>
                        <input type="text" name="walletSum" placeholder="Название ротатора" required="required">
                    </label>

                    <label>
                        <span class="label-heading">Utm-contant</span>
                        <input type="text" name="walletSum" placeholder="Название ротатора" required="required">
                    </label>

                    <label class="automatic-insertion">
                        <input type="checkbox" name="automatic-insertion">
                        <span>Отключить ComBack'er на прелендах</span>
                    </label>
                </div>

                <div class="button-wrapper">
                    <button class="button-orange"><span>Заказать выплату</span></button>
                </div>
            </form>
    </div>
</div>