<section class="referal-system">
	<div class="mbox">
		<div class="section-heading">
			<img src="images/referal-ico.png">
			<h3>Реферальная система</h3>
		</div>
		<div class="open-tiket active">
			<span>Рефералы</span>
		</div>
		<div class="clothe-tiket">
			<span>Статистика начислений</span>
		</div>
		<form class="referal-link">
			<label>Ваша реферальная ссылка
				<input type="text" name="referal-link" placeholder="http://ikra.top/r/519" >
			</label>
		</form>
		<table class="tikets-table common-table open-tiket-table" cellspacing="1">
			<thead>
				<tr>
					<th>Дата</th>
					<th>E-mail</th>
					<th>Всего начислено рублей</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>12.12.2016</td>
					<td>osetrovka@ikra.top</td>
					<td>9 273 645.00</td>				
				</tr>
				<tr>
					<td>12.12.2016</td>
					<td>osetrovka@ikra.top</td>
					<td>9 273 645.00</td>				
				</tr>
				<tr>
					<td>12.12.2016</td>
					<td>osetrovka@ikra.top</td>
					<td>9 273 645.00</td>				
				</tr>
			</tbody>			
		</table><table class="tikets-table common-table clothe-tiket-table" cellspacing="1">
			<thead>
				<tr>
					<th>Дата</th>
					<th>E-mail</th>
					<th>Всего начислено рублей</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>12.12.2016</td>
					<td>osetrovka@ikra.top</td>
					<td>8 273 645.00</td>				
				</tr>
				<tr>
					<td>12.12.2016</td>
					<td>osetrovka@ikra.top</td>
					<td>8 273 645.00</td>				
				</tr>
				<tr>
					<td>12.12.2016</td>
					<td>osetrovka@ikra.top</td>
					<td>8 273 645.00</td>				
				</tr>
			</tbody>			
		</table>
	</div>
</section>