<div class="referal-system">
	<div class="mbox">

		<div class="title">
		    <h1>
		        <img src="images/title-15.png" alt="">
		        <span><b>Реферальная система</b></span>
		    </h1>
		    <span class="button-menu"></span>
		</div>


		<div class="tab-top-row">
			<div class="tab-button">
				<div class="open-tiket">
					<span>Рефералы</span>
				</div>
				<div class="open-tiket">
					<span>Статистика начислений</span>
				</div>
			</div>
			<div class="tab-other mobile-desktop">
				<div class="referal-link">
					<label>Ваша реферальная ссылка
						<input type="text" name="referal-link" value="http://ikra.top/r/519" disabled="true">
					</label>
				</div>
			</div>
		</div>

		<div class="tab-bottom-row">
			<div class="tab-item">
				<table class="tikets-table common-table" cellspacing="1">
					<thead>
						<tr>
							<th>Дата</th>
							<th>E-mail</th>
							<th>Всего начислено рублей</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>12.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>9 273 645.00</td>
						</tr>
						<tr>
							<td>12.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>9 273 645.00</td>
						</tr>
						<tr>
							<td>12.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>9 273 645.00</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="tab-item">
				<table class="tikets-table common-table" cellspacing="1">
					<thead>
						<tr>
							<th>Дата</th>
							<th>E-mail</th>
							<th>Всего начислено рублей</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>12.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>8 273 645.00</td>
						</tr>
						<tr>
							<td>12.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>8 273 645.00</td>
						</tr>
						<tr>
							<td>12.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>8 273 645.00</td>
						</tr>
						<tr>
							<td>12.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>8 273 645.00</td>
						</tr>
						<tr>
							<td>12.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>8 273 645.00</td>
						</tr>
						<tr>
							<td>12.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>8 273 645.00</td>
						</tr>
						<tr>
							<td>12.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>8 273 645.00</td>
						</tr>
						<tr>
							<td>12.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>8 273 645.00</td>
						</tr>
						<tr>
							<td>12.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>8 273 645.00</td>
						</tr>
						<tr>
							<td>12.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>8 273 645.00</td>
						</tr>
						<tr>
							<td>12.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>8 273 645.00</td>
						</tr>
						<tr>
							<td>12.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>8 273 645.00</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="referal-link mobile-show">
			<span>Ваша реферальная ссылка</span>
			<div class="referal-link-wrap">
				<input type="text" name="referal-link" value="http://ikra.top/r/519" disabled="true" class="referal-link-text">
				<button class="copy-link button-orange"><span>Скопировать</span></button>
			</div>

		</div>

	</div>
</div>