<div class="rotator">
    <div class="mbox">
        <div class="form-wrapper">
            <form class="rotator-form common-form">
                <div class="left-side">
                    <div class="section-heading">
                        <img src="images/rotator-adding.png">
                        <h3>Добавление ротатора</h3>
                    </div>
                    <label>                        
                            <input type="text" name="rotator-name" placeholder="Название ротатора" required="required">

                    </label>

                    <label>
                        <span class="label-heading">Оффер:</span>
                        <input type="text" name="offer" placeholder="Крем для внутренних органов человека" required="required">
                    </label>
                    <label>
                        <span class="label-heading">Лендинги:</span>
                        <textarea name="Лендинги" rows="9"></textarea>
                    </label>
                    <label>
                        <span class="label-heading" >Прелендинги:</span>
                        <textarea name="Прелендинги" rows="9"></textarea>
                         <button type="button">Получить прелендинг
                             
                         </button>
                    </label>
                    <label class="automatic-insertion">
                        <input type="checkbox" name="automatic-insertion">
                        <span>Добавлять новые прокладки автоматически</span>
                    </label>
                </div>
                
                <div class="right-side">
                    <div class="section-heading">
                        <img src="images/link-settings.png">
                        <h3>Настройка ссылки</h3>
                    </div>
                    <label>
                        <span class="label-heading">Парковочный домен:</span>
                        <input type="text" name="parkig-domen" placeholder="Название ротатора" required="required">
                    </label>

                    <label>
                        <span class="label-heading">Тип трафика:</span>
                        <input type="text" name="traffick-type" placeholder="Крем для внутренних органов человека" required="required">
                    </label>

                    <label>
                        <span class="label-heading">Utm_source</span>
                        <input type="text" name="Utm_source" placeholder="Название ротатора" required="required">
                    </label>

                    <label>
                        <span class="label-heading">Sub_id</span>
                        <input type="text" name="Sub_id" placeholder="Назвние ротатора" required="required">
                    </label>

                    <label>
                        <span class="label-heading">Utm-campaign</span>
                        <input type="text" name="Utm-campaign" placeholder="Название ротатора" required="required">
                    </label>

                    <label>
                        <span class="label-heading">Utm-contant</span>
                        <input type="text" name="Utm-contant" placeholder="Название ротатора" required="required">
                    </label>

                    <label class="automatic-insertion">
                        <input type="checkbox" name="automatic-insertion">
                        <span>Отключить ComBack'er на прелендах</span>
                    </label>
                </div>

                <div class="button-wrapper">
                    <button class="button-orange"><span>Заказать выплату</span></button>
                </div>
            </form>
    </div>
</div>