<div class="tiket-talk">
    <div class="mbox">
        <div class="title">
            <h1>
                <img src="images/title-13.png" alt="">
                <span><b>Диалог</b></span>
            </h1>
            <span class="button-menu"></span>
            <a href="#" class="button-orange"><span>Закрыть тикет</span></a>
        </div>
        <div class="tiket-chat">
            <div class="tiket-chat-wrap">
                <div class="tiket-chat-row">
                    <div class="tiket-chat-img">
                        <img src="images/tiket-chat-img.png" alt="">
                    </div>
                    <div class="tiket-chat-text">
                        <div class="tiket-chat-text-title">Служба техподдержки:</div>
                        <div class="tiket-chat-text-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                        </div>
                    </div>
                    <div class="tiket-chat-date">
                        <span>10:10</span>
                    </div>
                </div>
                <div class="tiket-chat-row user">
                    <div class="tiket-chat-text">
                        <div class="tiket-chat-text-title">Вы:</div>
                        <div class="tiket-chat-text-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed </p>
                        </div>
                    </div>
                    <div class="tiket-chat-date">
                        <span>Вчера, 17:49</span>
                    </div>
                </div>
                <div class="tiket-chat-row">
                    <div class="tiket-chat-img">
                        <img src="images/tiket-chat-img.png" alt="">
                    </div>
                    <div class="tiket-chat-text">
                        <div class="tiket-chat-text-title">Служба техподдержки:</div>
                        <div class="tiket-chat-text-description">
                            <p>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, </p>
                        </div>
                    </div>
                    <div class="tiket-chat-date">
                        <span>14 марта 2016</span>
                    </div>
                </div>
                <div class="tiket-chat-row user">
                    <div class="tiket-chat-text">
                        <div class="tiket-chat-text-title">Вы:</div>
                        <div class="tiket-chat-text-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                        </div>
                    </div>
                    <div class="tiket-chat-date">
                        <span>14 марта 2016</span>
                    </div>
                </div>
            </div>
            <div class="tiket-chat-form">
                <form action="" name="tiket-chat-form">
                    <div class="form_row">
                        <textarea name="tiket-chat-area" id="" required="required" ></textarea>
                    </div>
                    <div class="form_row button-submit">
                        <button type="submit" class="button-grey"><span>Отправить</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>