<div class="ticket-create">
    <div class="mbox">
        <div class="title">
            <h1>
                <img src="images/title-14.png" alt="">
                <span><b>Новый тикет</b></span>
            </h1>
        </div>
        <div class="ticket-create-form">
            <form action="" name="ticket-create-form">
                <div class="ticket-create-form-wrap">
                    <div class="form_row">
                        <div class="ticket-create-text">
                            <img src="images/ticket-create-img-1.png" alt="">
                            <span>Тема</span>
                        </div>
                        <div class="ticket-create-input">
                            <input type="text" required="required" name="ticket-create-theme">
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="ticket-create-text">
                            <img src="images/ticket-create-img-2.png" alt="">
                            <span>Вопрос</span>
                        </div>
                        <div class="ticket-create-input">
                            <textarea required="required" name="ticket-create-question"></textarea>
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="ticket-create-text">
                            <img src="images/ticket-create-img-3.png" alt="">
                            <span>Для кого</span>
                        </div>
                        <div class="ticket-create-input">
                            <input type="text" required="required" name="ticket-create-for-who" placeholder="Введите ID пользователя">
                        </div>
                    </div>
                    <div class="ticket_submit">
                        <a href="#" class="button-grey"><span>Вернуться к списку</span></a>
                        <button class="button-orange" type="submit"><span>Создать тикет</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>