<section class="tikets">
	<div class="mbox">

		<div class="title">
		    <h1>
		        <img src="images/title-12.png" alt="">
		        <span><b>Тикеты</b></span>
		    </h1>
		    <span class="button-menu"></span>
		</div>

		<div class="tab-top-row">
			<div class="tab-button">
				<div class="open-tiket">
					<span>Открытые</span>
				</div>
				<div class="open-tiket">
					<span>Закрытые</span>
				</div>
			</div>
			<div class="tab-other">
				<a href="#" class="button-orange">
					<span>Создать тикет</span>
				</a>
			</div>
		</div>
		<div class="tab-bottom-row">
			<div class="tab-item">
				<table class="tikets-table common-table" cellspacing="1">
					<thead>
						<tr>
							<th>Дата</th>
							<th>Автор</th>
							<th>Тема</th>
							<th>Сообщений</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>12.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>Икринки в беде</td>
							<td>19</td>
						</tr>
						<tr>
							<td>12.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>Икринки в беде</td>
							<td>19</td>
						</tr>
						<tr>
							<td>12.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>Икринки в беде</td>
							<td>19</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="tab-item">
				<table class="tikets-table common-table" cellspacing="1">
					<thead>
						<tr>
							<th>Дата</th>
							<th>Автор</th>
							<th>Тема</th>
							<th>Сообщений</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>13.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>Икринки в беде</td>
							<td>19</td>
						</tr>
						<tr>
							<td>13.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>Икринки в беде</td>
							<td>19</td>
						</tr>
						<tr>
							<td>13.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>Икринки в беде</td>
							<td>19</td>
						</tr>
						<tr>
							<td>13.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>Икринки в беде</td>
							<td>19</td>
						</tr>
						<tr>
							<td>13.12.2016</td>
							<td>osetrovka@ikra.top</td>
							<td>Икринки в беде</td>
							<td>19</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>