<section class="tikets">
	<div class="mbox">
		<div class="section-heading">
			<img src="images/bill.png">
			<h3>Тикеты</h3>
		</div>
		<div class="open-tiket active">
			<span>Открытые</span>
		</div>
		<div class="clothe-tiket">
			<span>Закрытые</span>
		</div>
		<a href="#" class="button-orange">
			<span>Создать тикет</span>
		</a>
		<table class="tikets-table common-table open-tiket-table" cellspacing="1">
			<thead>
				<tr>
					<th>Дата</th>
					<th>Автор</th>
					<th>Тема</th>
					<th>Сообщений</th>		
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>12.12.2016</td>
					<td>osetrovka@ikra.top</td>
					<td>Икринки в беде</td>
					<td>19</td>				
				</tr>
				<tr>
					<td>12.12.2016</td>
					<td>osetrovka@ikra.top</td>
					<td>Икринки в беде</td>
					<td>19</td>				
				</tr>
				<tr>
					<td>12.12.2016</td>
					<td>osetrovka@ikra.top</td>
					<td>Икринки в беде</td>
					<td>19</td>				
				</tr>
			</tbody>			
		</table><table class="tikets-table common-table clothe-tiket-table" cellspacing="1">
			<thead>
				<tr>
					<th>Дата</th>
					<th>Автор</th>
					<th>Тема</th>
					<th>Сообщений</th>		
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>13.12.2016</td>
					<td>osetrovka@ikra.top</td>
					<td>Икринки в беде</td>
					<td>19</td>				
				</tr>
				<tr>
					<td>13.12.2016</td>
					<td>osetrovka@ikra.top</td>
					<td>Икринки в беде</td>
					<td>19</td>				
				</tr>
				<tr>
					<td>13.12.2016</td>
					<td>osetrovka@ikra.top</td>
					<td>Икринки в беде</td>
					<td>19</td>				
				</tr>
			</tbody>			
		</table>
	</div>
</section>