<div class="waiting">
	<div class="mbox">
		<div class="title">
		    <h1>
		        <img src="images/title-1.png" alt="">
		        <span><b>В ожидании</b></span>
		    </h1>
		    <span class="button-menu"></span>
		</div>


		<div id="pager" class="pager mobile-desktop">
			<div class="text-wrapper">
				<p>Показать по:</p>
			</div>
			<form>
					<label style="background: transparent;" data-num="10">10</label>
					<label data-num="20">20</label>
					<label data-num="30">30</label>
					<label data-num="40">40</label>
			</form>
		</div>


		<table id="tableToSort" cellspacing="1">
			<thead>
				<tr>
					<th>Дата заказа</th>
					<th>Дата оплаты</th>
					<th>ID заказа</th>
					<th>Оффер</th>
					<th>Доход</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>13.11.2016</td>
					<td>14.11.2016</td>
					<td>6</td>
					<td>ТемиПласт - наклейки для женщин</td>
					<td>7.6</td>
				</tr>
				<tr>
					<td>14.11.2016</td>
					<td>15.11.2016</td>
					<td>7</td>
					<td>ФемиПласт - наклейки для женщин</td>
					<td>7.6</td>
				</tr>
				<tr>
					<td>15.11.2016</td>
					<td>16.11.2016</td>
					<td>8</td>
					<td>КемиПласт - наклейки для женщин</td>
					<td>7.6</td>
				</tr>
				<tr>
					<td>16.11.2016</td>
					<td>17.11.2016</td>
					<td>9</td>
					<td>РемиПласт - наклейки для женщин</td>
					<td>7.6</td>
				</tr>
				<tr>
					<td>17.11.2016</td>
					<td>18.11.2016</td>
					<td>10</td>
					<td>ПемиПласт - наклейки для женщин</td>
					<td>7.6</td>
				</tr>
			</tbody>
		</table>

		<div class="waiting-bottom mobile-desktop">
			<div class="search-field">
			    <form action="" name="search-field">
			        <div class="form_row">
			            <input type="text" name="search-field-input" placeholder="Поиск" required="required">
			        </div>
			        <div class="search-field-button">
			            <button type="submit"></button>
			        </div>
			    </form>
			</div>
		</div>


	</div>
</div>